/**/

/*Desktop*/

.desktop_upper {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: calc(0.85 * var(--primary-font-size));
    width: min(var(--vw, 1vw) * 100 - 34px, 1200px);
    margin: 5px;
    position: sticky;
    justify-content: flex-start;
}

.upper_media {
    width: calc(100%/3);
    display: flex;
    flex-direction:column;
}

.block_logo {
    width: calc(100%/3);
}

.upper_navigation_buttons{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.upper_container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.upper_buttons {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    align-items: center;
}

.upper_category {
    margin: 5px;
}

.main_block {
    /*max-width: var(--primary-content-width);*/
    /*padding: 17px;*/
}

.img_logo {
    max-width: 200px;
    max-height: 100px;
    object-fit: cover;
}

.upper_burger{
    display: none;


}

.block_logo_phone {
    display: none;
}

.social-icons a {
    width: 50px;
    height: 46px;
    border-radius: 40%;
    background: #efefef;
    margin: 2px 7px;
    box-shadow: 0 2px 6px #c1c1c1;
    font-size: 38px;
}


.social-icons a:hover:after {
    width: 50px;
    height: 46px;
    margin-left: -24px;
    margin-top: -0px;
}

.social-icons a img {
    width: 36px;
    height: 36px;
    margin-top: 14px;
}

.social-icons a i,
.social-icons a img {
    z-index:2;
    position: relative;
    line-height: 40px;
}

.block_numbers_2 {
    display: flex !important;
    /*align-items: flex-end;*/
    padding: 2px;
    margin: 5px 0 0 0;
    font-size: calc(var(--primary-font-size) * 1.2);
    /*width: calc(100%/3);*/
    justify-content: space-around
}

.block_name {
    font-size: calc(var(--primary-font-size) * 1.4);
    display: flex;
    flex-direction: column;
    margin-left:  calc(35%/3);
}

.block_numbers {
    display: none;

}
.block_info {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: center;
}

.name {
    display: flex;
    align-items: flex-end;
}

.block_numbers > div:last-child {
    padding-top: 2px;
}

.block_numbers > div:first-child {
    margin-top: -5px;
}

.block_buttons {
    font-size: var(--primary-font-size);
    margin: 0 10px;
}

.button_main {
    width: 160px;
    height: 40px;
    transition: background-color 0.4s ease,
    border-color 0.4s ease,
    font-size 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back_button {
    font-size: calc(1 * var(--primary-font-size));
    width: var(--primary-content-width);
    color: black;
    position: relative;
    margin: 0 auto;
    z-index: 5;
}

.back_button_btn {
    justify-content: flex-start;
    padding: 4px 4px 4px 0;
}

.back_button_btn > a {
    border-bottom: 2px solid black;
}

.back_button_2 {
    display: none;
}

.desktop_container {
    margin: 0 17px;
}

.main_slider {
    display: flex;
}

.events {
    display: flex;
}

.event_info {
    text-align: center;
    font-size: 75px;
    position: absolute;
    color: white;
    z-index: 10;
    padding: 4px;
}

.event_info > div {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
}

.event_date {
    right: 0;
    top: 0;
}

.event_name {
    left: 0;
    top: calc(clamp(200px, (var(--vh, 1vh) * 45), 800px) - 100px);
    text-align: left;
    width: min-content;
}

.event_text {
    width: 100%;
    font-size: var(--primary-font-size);
    margin-bottom: 4px;
}

.button_main:hover {
    font-size: calc(var(--primary-font-size) * 1.125);
    background-color: var(--primary-color);
}

.block_info {
    /*width: 30%;*/
    text-align: center;
}

.block_info > div:first-child > div {
    display: flex;
    flex-direction: row;
}

.address {
    max-width: 350px;
}

.button_main_middle_right {
    border-right: 1px solid;
    border-left: 1px solid;
}

.decoration {
    text-decoration: none;
    color: black;
}

.button_main_middle_left {
    border-left: 1px solid;
}