/**/

/*Desktop*/

.upper_container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.main_block {
    /*max-width: var(--primary-content-width);*/
    /*padding: 17px;*/
}

.img_logo {
    max-width: 200px;
    max-height: 100px;
    object-fit: cover;
}

.block_numbers {
    display: flex;
    flex-direction: column;
    /*align-items: flex-end;*/
    text-align: center;
    padding: 2px;
    margin: 5px 0 0 0;
    font-size: calc(var(--primary-font-size) * 0.8);
}

.block_info {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: center;
}

.name {
    display: flex;
    align-items: flex-end;
}

.block_numbers > div:last-child {
    padding-top: 2px;
}

.block_numbers > div:first-child {
    margin-top: -5px;
}

.block_buttons {
    font-size: var(--primary-font-size);
}

.button_main {
    width: 120px;
    height: 40px;
    transition: background-color 0.4s ease,
    border-color 0.4s ease,
    font-size 0.2s ease;
}

.back_button {
    font-size: calc(1 * var(--primary-font-size));
    width: var(--primary-content-width);
    color: black;
    position: relative;
    margin: 0 auto;
    z-index: 5;
}

.back_button_btn {
    justify-content: flex-start;
    padding: 4px 4px 4px 0;
}

.back_button_btn > a {
    border-bottom: 2px solid black;
}

.back_button_2 {
    display: none;
}

.desktop_container {
    margin: 0 17px;
}

.main_slider {
    display: flex;
}

.events {
    display: flex;
}

.event_info {
    text-align: center;
    font-size: 75px;
    position: absolute;
    color: white;
    z-index: 10;
    padding: 4px;
}

.event_info > div {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
}

.event_date {
    right: 0;
    top: 0;
}

.event_name {
    left: 0;
    top: calc(clamp(200px, (var(--vh, 1vh) * 45), 800px) - 100px);
}

.event_text {
    width: 100%;
    font-size: var(--primary-font-size);
    margin-bottom: 4px;
}

.button_main_hover {
    font-size: calc(var(--primary-font-size) * 1.125);
    background-color: var(--primary-color);
}

.block_info {
    /*width: 30%;*/
    text-align: center;
}

.block_info > div:first-child > div {
    display: flex;
    flex-direction: row;
}

.address {
    max-width: 350px;
}