/* scrollbar */
*::-webkit-scrollbar-track {
    border-radius: 6px;
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #6a7d9b;
}
/**/

/*Desktop*/
.block_logo {
    margin-left: 1vw;
}

.img_logo {
    max-width: 200px;
    max-height: 100px;
    object-fit: cover;
    margin: auto;
}

.block_numbers {
    margin-top: 0;
    --primary-big-font: 1.1rem;
}

.block_buttons {
    --font-size: 1.2rem;
    font-size: var(--font-size);
    border: 1px solid white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.button_main {
    width: 100px;
    height: 30px;
    transition: background-color .4s ease,
    border-color 0.4s ease,
    font-size 0.2s ease;
    padding: 2px;
}

.button_main:hover {
    font-size: calc(var(--font-size) * 1.125);
    background-color: var(--primary-color);
    transform: scale(1.05); /*Обсудить целесообразность, нужно чтобы перекрыть бордеры средней кнопки*/
}

.button_main_middle:hover {
    border-color:var(--primary-color);
}


.block_info {
    /*width: 30%;*/
}


.address {
    max-width: 15vw;
}