@charset "UTF-8";

:root {
    --background-color: rgba(169, 191, 239, 0.15); /*547dd2;*/
    --primary-color: #ffa300; /*fff600*/
    --body-background-color: #4acfeb;


    /*--primary-big-font: 24px;*/
    /*--primary-small-font: 24px;*/
    --primary-font-size: 16px;
    --primary-font-family: Arial, sans-serif;


    --primary-content-width: 960px;
    --modal_window_time: none;
    --vw: none;
    --vh: none;
}

html {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1,h2,h3 {
    margin: 0;
    padding: 10px;
    padding-bottom: 4px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    appearance: none;
    -webkit-appearance: none;
    font-family: var(--primary-font-family);
}

body {
    margin: 0;
    /*background-color: white;*/
    -webkit-text-size-adjust: none;
    background-color: rgba(169, 191, 239, 0.15);
}

img {
    user-select: none; /* чтобы картинки не выделялись при выделении текста */
}

p {
    margin: 0;
    /*margin-block-start: 0;*/
    /*margin-block-end: 0;*/
}

.upper_container {
    width: 100%;
    background-color: white;
}

.upper {
    padding-top: 5px;
    width: min(100%, var(--primary-content-width));
    margin: 0 auto;
    /*background-color: var(--background-color);*/
    position: sticky;
    justify-content: space-between;
    vertical-align: middle;
    align-items: center;
    color: black;
    display: flex;
    z-index: 1;
    background-color: white;
}

.footer {
    position: absolute;
    justify-content: space-evenly;
    vertical-align: middle;
    align-items: center;
    text-align: center;
    height: min(10vh, 60px);
    margin-top: 6px;
    width: 100%;
    background-color: #1c1919;
    /*background-color: var(--background-color);*/
    /*margin-top: 10px;*/
    color: #a8a8a8;
    font-size: calc(var(--primary-font-size) * 0.6);
}

.upper_white {
    background-color: white;
    width: 100%;
    z-index: 1;
}

.block_buttons {
    background: white;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    width: max-content;
    position: relative;
    z-index: 5;
}

.main_block {
    margin: 0 auto 10px;
    width: 100%;
    z-index: 2;
    /*background-color: var(--background-color);*/
}


.events {
    margin: 0 auto;
    width: 100%;
}

.block {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 2vh;
    top: 0;
    z-index: 1;
}

.block_buttons_grid {
    display: grid;
}

.button_main {
    user-select: none;
    /*background-color: var(--background-color);*/
    height: 2.5vh;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_main > div:first-child {
    margin: 2px;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}


.button_main_middle {
    border-right: 1px solid;
    border-left: 1px solid;
}


.block_logo {
    justify-content: center;
    display: flex;
    justify-items: center;
    flex-flow: column;
    position: sticky;
}

.block_info {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: calc(100% / 3);
    font-size: var(--primary-font-size);
    font-family: var(--primary-font-family);
}

.block_info > div {
    display: flex;
}

.block_numbers {
    display: flex;
    margin: auto;
    font-size: calc(0.8 * var(--primary-font-size));
    font-family: var(--primary-font-family);
}

.block_numbers > div {
    cursor: pointer;
}

.block_content {
    justify-content: center;
    max-width: min(95%, 960px);
    overflow: hidden;
    margin: 5px auto 7px;
    text-align: left;
    word-wrap: break-word;
    font-size: var(--primary-font-size);
}

.img_logo {
    max-width: 200px;
    max-height: 100px;
}

.button_menu {
    display: inline-block;
    position: relative;
}


.btn-close {
    /*хз что это за стиль*/
    border: none;
    background: none;
    position: absolute;
    z-index: 5;
    left: 50%;
    top: 100%;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    transform: translate(-50%, 20px);
    opacity: 0.7;
    transition: .3s;
}

.modal {
    display: none;
}

.submenu {
    display: none;
}

.about_a {
    text-decoration: none;
    color: black;
}

.modal-window > a {
    text-decoration: none;
    color: black;
    width: 100%;
}
