@charset "UTF-8";

.submenu {
    --block-width: 15vw;
    overflow: auto;
    max-height: 70vh;
    list-style: none;
    position: absolute;
    display: block;
    left: 50%;
    top: 100%;
    margin-left: calc(var(--block-width, 15vw) / 2 * (-1));
    width: var(--block-width);
    background: #fafafa;
    border: 1px solid #ededed;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transform: scale(.8);
    transition: .2s ease-in-out;
}

.button_main:hover .submenu {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.submenu div div {
    text-decoration: none;
    text-align: center;
    padding: 5px 0;
    margin: 0 10px;
    border-bottom: 1px solid #efefef;
    font-size: 1.1rem;
    color: #484848;
    font-family: 'Kurale', serif;
}

.btn-close-modal-window {
    display: none;
}
