@charset "UTF-8";

.modal {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100 * var(--vw, 1vw));
    height: calc(100 * var(--vh, 1vh));
    align-items: center;
    justify-content: center;
    visibility: hidden;
    z-index: 500;
    overflow-y: auto;
    overflow-x: hidden;
}

.show_modal_window {
    visibility: visible;
    z-index: 1000;
    opacity: 1;
}

.overlay {
    position: absolute;
    top: -1px;
    left: -1px;
    width: calc(100 * var(--vw, 1vw) + 1px);
    height: calc(100 * var(--vh, 1vh) + 1px);
    z-index: 1;
    opacity: 0;
    background-color: #000;
    transition: var(--modal_window_time, 500ms) linear;
}

.modal-window {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: absolute;
    min-height: calc(100 * var(--vh, 1vh));
    z-index: 1000;
    width: calc(var(--vw, 1vw) * 100); /* vw подключается из js */
    box-shadow: 0 10px 15px rgba(0, 0, 0, .4);
    background-color: rgba(255, 255, 255, 0.99);
    transition: var(--modal_window_time, 500ms) ease; /* подключается из js */
}

.modal-upper {
    background: url(../burger_back.png) top left repeat-x;
    color: white;
    font-size: calc(1.2 * var(--primary-font-size));
    font-family: var(--primary-font-family);
    width: 100%;
    letter-spacing: 1px;
    padding: 4px 13px 0;
    height: 30px;
}

.modal-upper-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-upper-content > div {
    width: calc(100% / 3);
    height: min-content;
}

.modal-upper-content > div:first-child {
    text-align: left;
}

.modal-upper-content > div:nth-child(2) {
    text-align: center;
}

.modal-upper-content > div:last-child {
    text-align: right;
}

.modal-content {
    padding: 5px;
    background-image: url('../../static/background green.png');
    background-size: 178% 150%;
    min-height: calc((100 * var(--vh, 1vh)) - 29px);
}

.modal_window_img {
    width: calc(var(--vw, 1vw) * 100 - 17px);
    /*max-height: calc(25 * var(--vh, 1vh));*/
    object-fit: cover;
    margin: 5px 0 5px;
}

.modal-item {
    letter-spacing: 1px;
    transition: .3s linear;
    text-decoration: none;
    text-align: left;
    padding: 14px 14px 14px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.55);
    font-size: calc(1.6 * var(--primary-font-size));
    font-family: var(--primary-font-family);
}

.modal-item > a {
    text-decoration: none;
    color: white;
}

.modal-item:last-child {
    border-bottom: 0;
}

.modal-item:first-child {
    padding-top: 8px;
    display: flex;
    align-items: center;
}

.modal-item:nth-child(2) {
    border-top: 0 solid rgba(255, 255, 255, 0.55);
}

.show_modal_window .modal-window {
    margin-top: 0;
}

.btn-close-modal-window {
    position: absolute;

    right: 3vw;
    top: 10px;
}

.btn-close-modal-window > img {
    border: 2px solid #676767;
    border-radius: 50%;
    padding: 2px;
    width: 25px;
    height: 25px;
}

.contacts .modal-item {
    font-size: calc(1.4 * var(--primary-font-size));
}

.social-icons {
    /*margin-top: 5px;*/
    justify-content: space-evenly;
}

.modal_logo {
    margin-top: 57%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_logo_modal {
    width: calc(var(--vw, 1vw) * 84 - 34px);
    padding: 25px;
    background-color: #64c152;
}
