
/*Phone*/
.img_logo {
    max-width: 150px;
    max-height: 100px;
    margin-left: 50%;
    transform: translate(-50%, 0);
}

.block_info {
    text-align: center;
    font-size: calc(1.2 * var(--primary-font-size));
}

.block_buttons {
    font-size: calc(1.2 * var(--primary-font-size));
    margin: 0 auto;
}

.button_main {
    padding: 4px;
    width: calc(100vw / 3);
    height: min-content;
}

.block_numbers {
    font-size: calc(1 * var(--primary-font-size));
    margin-bottom: 2px;
}

.block_numbers > div {
    text-align: center;
    width: 50%;
}


.event_info {
    text-align: center;
    font-size: 30px;
    position: absolute;
    color: white;
    z-index: 10;
    padding: 4px;
}

.event_info > div {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
}

.event_date {
    right: 0;
    top: 0;
}

.event_name {
    left: 15px;
    top: calc(clamp(200px, (var(--vh, 1vh) * 45), 800px) - 50px);
}

.event_text {
    width: 95%;
    font-size: var(--primary-font-size);
    margin: 0 auto 4px;
}
