/*Phone*/
.img_logo {
    /*max-width: 150px;*/
    /*max-height: 100px;*/
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.upper {
    /*margin-bottom: 4px;*/
}

.block_logo {
    left: 0;
}

.block_content {
    width: calc(100 * var(--vw, 1vw) - 34px);
}

.block_info {
    display: grid;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: center;
    font-size: calc(1.2 * var(--primary-font-size));
    right: 0;
    margin-bottom: 4px;
}

.name {
    display: flex;
}


.block_buttons {
    font-size: calc(1.2 * var(--primary-font-size));
    margin: 0 auto;
}

.button_main {
    padding: 4px;
    width: calc(100vw / 3);
    height: min-content;
}

.block_numbers {
    font-size: calc(1 * var(--primary-font-size));
    margin-bottom: 2px;
}

.block_numbers > div {
    width: 50%;
}

.block_numbers > div:first-child {
    text-align: left;
    margin-left: 17px;
}

.block_numbers > div:last-child {
    text-align: right;
    margin-right: 17px;
}

.event_info {
    text-align: center;
    font-size: 40px;
    position: absolute;
    color: white;
    z-index: 10;
    padding: 4px;
}

.event_info > div {
    position: absolute;
    display: flex;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
}

.event_date {
    right: 17px;
    top: 0;
}

.event_name {
    max-width: calc(100% - 34px);
    width: min-content;
    height: min-content;
    text-align: left;
    left: 17px;
    /*top: calc(clamp(200px, (var(--vh, 1vh) * 45), 800px) - 53px);*/
}

.event_text {
    width: calc(100% - 34px);
    font-size: var(--primary-font-size);
    margin: 0 auto;
}
