# Для локальной разработки поставьте DEBUG=1.
DEBUG=0
SECRET_KEY=
ALLOWED_HOSTS=t-camp.ru,www.t-camp.ru
CSRF_TRUSTED_ORIGINS=https://t-camp.ru,https://www.t-camp.ru
# Только для docker compose:
PROXY_NETWORK=proxy
WEB_CONCURRENCY=3
HSTS_SECONDS=3600
