/.idea
*.pyc
*.iml
/venv
/migrations
/logs
test.*
*.log
app/static/images/staff/62qSoHtrcNM.jpg
app/static/images/staff/загружено.jfif
/.university/
.xml
*.zip
tpark1/
/node_modules/
package-lock.json
package.json
testFile.txt
