.img_img {
    width: 244px;
    height: 240px;
    box-shadow: 0 0 4px 0 #b8cef3;
}

.category_title {
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: calc(var(--primary-font-size) * 1.25);
    display: flex;
    justify-content: center;
}


.img_img_img {
    box-shadow: 0 0 4px 0 #b8cef3;
}

.block_img_partners {
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    display: flex;
}

/*Партнёры*/
.block_img_block {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
    list-style: none;
    padding: 0;
    margin-bottom: 8px;
}

.block_img_block > * {
    height: 16rem;
}

.block_img_partners {
    width: 246px;
    height: 240px;
    margin-left: auto;
    margin-right: auto;
}


/*КПартнёры*/
.name_employees {
    text-align: center;
}

.position_employees {
    text-align: center;
}

.title_about {
    display: flex;
    justify-content: center;
}

.block_content {
    justify-content: center;
    max-width: min(95%, 960px);
    overflow: hidden;
    margin: 0 auto;
    text-align: left;
    word-wrap: break-word;
    font-size: var(--primary-font-size);
}

.block_text_about {
    justify-content: center;
    max-width: 70%;
    overflow: hidden;
    margin: 20px auto;
    text-align: center;
}

/*сотрудники*/
.name_employees {
    text-align: left;
}

.position_employees {
    text-align: left;
}

@media (max-width: 768px){
    .block_employees_block {
        margin: 0 auto;
        justify-content: center;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(15.4rem, 1fr));
        list-style: none;
        padding: 0;
    }
    .block_img_block {
        margin: 0 auto;
        justify-content: center;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(15.4rem, 1fr));
        list-style: none;
        padding: 0;
    }
}

@media (min-width: 415px) {
    .block_employees {
        width: 244px;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
        background: #f2f5fc;
    }

    .block_employees_block > * {
        height: 19.1rem;
    }
    .block_employees img {
        --x: 75px;
        width: calc(3 * var(--x));
        height: calc(4 * var(--x));
    }
}

@media (max-width: 414px){
    .img_img_img{
        box-shadow: none;
        width: 100%;
        max-width: 415px;
        margin-left: auto;
        margin-right: auto;
        object-fit: cover;
    }
    .block_employees {
        margin: 0 auto;
        width: 80%;
        height: 400px;
        background: none;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(15.4rem, 1fr));
        list-style: none;
        padding: 0;
        justify-content: center;
    }

    .name_employees {
        margin-top: -10px;
        text-align: left;
        margin-bottom: -14px;
    }

    .position_employees {
        text-align: left;
    }

    .block_employees_block > * {
        height: 27.1rem;
    }
    /*
    .name_employees {
        margin-top: -25px;
        text-align: center;
    }

    .position_employees {
        margin-top: -15px;
        text-align: center;
    }
    .block_img_block {
        margin: 0 auto;
        justify-content: center;
    }*/

}

@media (min-width: 992px) {
    .block_employees_block {
        margin: 0 auto;
        justify-content: center;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
        list-style: none;
        padding: 0 100px 40px 100px;
    }
}
@media (max-width: 991px) and (min-width: 415px) {
    .block_employees_block {
        margin: 0 auto;
        justify-content: center;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
        list-style: none;
        padding: 40px 50px 40px 50px;
    }
}
@media (max-width: 750px) and (min-width: 415px) {
    .block_employees_block {
        margin: 0 auto;
        justify-content: center;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(14.8rem, 1fr));
        list-style: none;
        padding: 40px 45px 40px 45px;
    }
}

@media (min-width: 1600px) {
    .block_employees_block {
        max-width: 1150px;
        margin: 0 auto;
        justify-content: center;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
        list-style: none;
        padding: 0 45px 40px 45px;
    }
}
