@charset "UTF-8";

.title {
    margin-bottom: 4px;
}

.grid_block {
    margin: 0 auto 8px;
}

.block {
    margin: 2px auto;
}

.container_about {
    margin: 8px auto;
}

.text {
    position: relative;
    top: -4px;
    width: 100%
}

.map_img_container {
    margin-left: -17px;
    width: calc(100% + 34px);
    max-width: calc(100% + 34px);
    margin-top: 0;
    margin-bottom: 4px;
}

.map_img {
    max-width: 750px;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rounded {
    /*width: 900px*/
    transform: scale(2.3);
}
