.img_img {
    width: 244px;
    height: 240px;
}


.block_img_partners {
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    display: flex;
}

/*Партнёры*/
.block_img_block {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(15.4rem, 1fr));
    list-style: none;
    padding: 0;
}

.block_img_block > * {
    height: 16rem;
}

.block_img_partners {
    width: 246px;
    height: 240px;
    margin-left: auto;
    margin-right: auto;
}
/*КПартнёры*/
.name_employees {
    text-align: center;
}

.position_employees {
    text-align: center;
}

.title_about {
    display: flex;
    justify-content: center;
}

.block_fil {
    padding: 0 10% 0;
    justify-content: center;
    letter-spacing: 1px;
    word-spacing: 0;
    white-space: normal;
    line-height: normal;
    margin: 0 auto;
    text-align: center;
}

.block_text_about {
    padding: 0 10% 0;
    justify-content: center;
    letter-spacing: 1px;
    word-spacing: 0;
    white-space: normal;
    line-height: normal;
}

/*сотрудники*/
.block_employees_block {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(15.4rem, 1fr));
    list-style: none;
    padding: 0;
}

.block_employees_block > * {
    height: 15rem;
}

.block_employees {
    width: 246px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    background: #f0f0f0;
    -webkit-box-shadow: 3px 3px 3px #cfd8da;
    -moz-box-shadow: 3px 3px 3px #cfd8da;
    box-shadow: 3px 3px 3px #cfd8da;
}

.block_employees figcaption {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.name_employees {
    text-align: center;
}

.position_employees {
    text-align: center;
}






@media (max-width: 768px){
    .block_employees_block {
        margin: 0 auto;
        justify-content: center;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(15.4rem, 1fr));
        list-style: none;
        padding: 0;
    }
    .block_img_block {
        margin: 0 auto;
        justify-content: center;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(15.4rem, 1fr));
        list-style: none;
        padding: 0;
    }
    .block_employees_block > * {
        height: 17rem;
    }
}

@media (min-width: 376px){
    .block_employees {
        width: 244px;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .block_employees_block > * {
        height: 17rem;
    }
}

@media (max-width: 375px){
    .img_img{
        width: 100%;
        padding: 0;
    }
    .block_employees {
        margin-left: 0;
        width: 400px;
        height: 300px;
    }
    .block_employees figcaption {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .block_employees_block {
        margin-left: 0;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(15.4rem, 1fr));
        list-style: none;
        padding: 0;
    }
    .block_employees_block > * {
        height: 15rem;
    }
}

@media (min-width: 992px) {
    .block_employees_block {
        margin: 0 auto;
        justify-content: center;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(15.4rem, 1fr));
        list-style: none;
        padding: 40px 90px 40px 90px;
        background: wheat;
        border-radius: 2px;
    }
}
@media (max-width: 991px) and (min-width: 376px) {
    .block_employees_block {
        margin: 0 auto;
        justify-content: center;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(14.8rem, 1fr));
        list-style: none;
        padding: 40px 50px 40px 50px;
        background: wheat;
        border-radius: 2px;
        box-shadow: 0 0 4px 0 gray;
    }
}
@media (max-width: 750px) and (min-width: 376px) {
    .block_employees_block {
        margin: 0 auto;
        justify-content: center;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(14.8rem, 1fr));
        list-style: none;
        padding: 40px 45px 40px 45px;
        background: wheat;
        border-radius: 2px;
    }
}