/*Desktop*/


.block_price {
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
    max-width: 50vw;
    min-width: 100px;
    width: max-content;
    margin: auto;
    border-radius: 2px;
    font-size: var(--primary-font-size);
    padding-bottom: 4px;
    margin-top: 6px;
}

.block_service {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr;
    align-items: center;
    max-width: 960px;
    /*background-color:var(--body-background-color);*/
    /*box-shadow: 2px 4px 16px #ccc;*/
    z-index: 2;
}

.img_service {
    object-fit: cover;
    height: 100%;
    /*max-width: 100%;*/
    margin: 0 auto;
}

.block_img {
    display: flex;
    height: clamp(100px, 40vh, 400px);
    width: clamp(200px, 40vw, 600px);
    align-items: center;
    margin: 0 auto;
}

.category_title {
    margin: 5px auto 5px;
    text-align: center;
    font-size: calc(var(--primary-font-size) * 1.2);
}

.block_text {
    max-width: 960px;
    text-align: left;
    margin: auto;
    font-size: var(--primary-font-size);
}


