/*Phone*/


.block_service {
    display:flex;
    margin: 0 auto;
    /*box-shadow: 2px 4px 16px #ccc;*/
    justify-content: space-around;
    border-radius: 5px;
    max-width: 99vw;
    min-height: 55vh;
    /*background-color:var(--body-background-color);*/
    z-index:2;
}

.img_service {
    object-fit: cover;
    width: clamp(100px, 30vw, 400px);
    height: clamp(100px, 30vh, 200px);
    margin: 0 auto;
}



