@charset "UTF-8";

/*Стили для шаблона "конкретная услуга"(service.html)*/

:root {


}

.block_img {
    display:flex;
    height:clamp(100px,40vh, 400px );
    width:clamp(200px,40vw, 600px );
    align-items: center;
    margin: 0  auto 2px;

}

.price {
    margin-top: 5px;
    word-wrap: break-word;
}


.price:first-child {
    margin-top: 0;
}

.block_img_price {
    display:block;
    /*display:grid;
    grid-template-columns: 1fr;
    max-width:45vw;
    grid-auto-rows: minmax(100px, 200px);*/
}


