div {
    margin-top: 0px !important
}

.container_base {
    min-height: calc(100vh - min(10 * var(--vh, 1vh), 40px));
}

.img_logo {
    margin-top: 10px;
}

.block_numbers {
    margin: 10px auto 0;
}

.block_numbers > a {
    margin: 10px auto -10px;
}

.block_service {
    /*background-color:var(--body-background-color);*/
    /*box-shadow: 2px 4px 16px #ccc;*/
    z-index: 2;
}

.price {
    font-size: var(--primary-font-size);
}

.category_title {
    margin: 0 auto;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;

    font-size: calc(var(--primary-font-size) * 1.3);
}


.block_price {
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    /*padding: 2px;*/
    margin: 0 auto 4px;
    border-radius: 2px;
    font-size: var(--primary-font-size);
    word-wrap: break-word;
}

.img_service {
    display: block;
    object-fit: cover;
    width: 100vw;
    left: 0;
    height: clamp(100px, 40vh, 400px);
    margin: 0 auto 5px;
}


.block_text {
    min-width: clamp(150px, 10vw, 20vw);
    margin: 0 17px 7px;
    font-size: var(--primary-font-size);
}

.text_inside {
    text-align: left;

}

