/*Стили для шаблона "конкретная услуга"(service.html)*/
:root {
    --background-color: #ffa200;
    --primary-color: #0871D3FF;

}

.block_img {
    display:block;


}

.block_text {
    display:block;
    max-width: 45vw;

}

.block_price {
    display:block;
    float:right;



}