/*Стили для шаблона "конкретная услуга"(service.html)*/

:root {


}


.block_img {
    display:flex;
    height:clamp(100px,30vh, 400px );
    width:clamp(200px,30vw, 600px );

}

.block_text {
    display:flex;
    max-width: 45vw;

}

.block_price {
    display:flex;
    float:right;
    align-items: center;
    text-align:center;
    justify-content: center;

}

.price {
    display:block;


}

.block_img_price {
    display:grid;
    grid-template-columns: 1fr;
    max-width:45vw;
    grid-auto-rows: minmax(100px, 200px);
}


