{% extends "admin_panel/base.html" %}

{% block scripts %}
    <link rel="stylesheet" href="{{ url_for('static', filename='admin_panel/event_create.css') }}">
{% endblock %}

{% block app_content %}
{{ ckeditor.load() }}
    <form class="form" method="post" action="{{ url_for('admin_panel.event_create') }}" enctype="multipart/form-data">
        <div class="form_container">

            <label for="file">Фото</label>
            <input type="file" name="photo" id="photo">

            <label for="title">Название</label>
            <input type="text" name="title" id="title" placeholder="Название">

            <label for="date">Дата</label>
            <input type="date" name="date" id="date">

            <label for="link">Ссылка</label>
            <input type="text" name="link" id="link" placeholder="Ссылка">

            <label for="color" style="display: flex; align-items: center;">
                <div>Цвет текста на фото</div>
                <input type="color" name="color" id="color">
            </label>

            <label for="description">Описание</label>
            <textarea name="description" id="description" autocomplete="off"
                      placeholder="Описание" cols="50" rows="20"></textarea>

            <input type="submit" value="Создать">
        </div>

    </form>
{{ ckeditor.config(name='description') }}
{% endblock %}
