{% if service.has_page %}
<a href="{{ service.get_absolute_url }}" class="flex items-center justify-between gap-4 px-5 py-4 hover:bg-brand-50">
  <span class="font-medium">{{ service.name }}</span>
  <span class="flex shrink-0 items-center gap-2 text-ink/70">{{ service.price_display }}<span class="icon h-4 w-4">{% include "icons/chevron-right.svg" %}</span></span>
</a>
{% elif service.short_description %}
<div x-data="{ open: false }">
  <button type="button" @click="open = !open" :aria-expanded="open" class="flex w-full items-center justify-between gap-4 px-5 py-4 text-left hover:bg-brand-50">
    <span class="font-medium">{{ service.name }}</span>
    <span class="flex shrink-0 items-center gap-2 text-ink/70">{{ service.price_display }}<span class="icon h-4 w-4 transition" :class="open && 'rotate-180'">{% include "icons/chevron-down.svg" %}</span></span>
  </button>
  <div x-show="open" x-transition x-cloak class="rich-text px-5 pb-5">{{ service.short_description|safe }}</div>
</div>
{% else %}
<div class="flex items-center justify-between gap-4 px-5 py-4">
  <span class="font-medium">{{ service.name }}</span>
  <span class="shrink-0 text-ink/70">{{ service.price_display }}</span>
</div>
{% endif %}
