.grid_category {
    display: grid;
    min-width: 90vw;
    grid-template-columns: 75% 1fr;
    text-align: left;
    justify-content: left;
    margin-bottom: 20px;
    margin-left: 10px;
}

.grid_block_price {
    display: grid;
    grid-template-columns: 25vw 10vw 25vw;
    text-align: left;
    justify-items: center;
    align-items: baseline;
    min-width: 40px;
    margin-top:10px;
}