


.title {
    text-align: center;

}

.div_grid_panel {
    display: flex;
    justify-content: space-around;

}


.grid_panel {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30vw 30vw;

}

.grid_block {
    display: grid;
    grid-template-columns: 40% 40%;

}

.input__wrapper {

}

.input__file_button {
    width: 200px;
    margin: 0 auto;
}

.input__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}