@charset "UTF-8";


.container {
    position: relative;
    justify-content: center;
    align-items: center;
}

.data {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    position: static;
}

.table {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    border-collapse: collapse;
    table-layout: auto;
    width: 80vw;
    word-break: break-all;
    table-layout: fixed;
}

td {
    position: static;
    vertical-align: top;
    padding-right: 2vw;
}

h2 {
    text-align: center;
}

.button {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    border-collapse: collapse;
    table-layout: fixed;
    position: relative;
    align-items: center;
}

.buttons {
    position: static;
    justify-content: center;
    align-items: center;
    display: flex;
    white-space: normal;
}

.description{
    max-height: 0;
    overflow: hidden;

    transition: max-height 2s cubic-bezier(0, 1, 0, 1);
}

.content{
    max-height: 30vw;
    max-width:  90vw

}

.description.active{
    max-height: 90vw;
    transition: max-height 2s ease-out;
}

.content:hover {
    cursor: pointer;
}