
.slider__item {

    --primary-flex:0 0 100%;
    --primary-width: 100%;

}





/* на больших экранах (ширина больше 1200px) – 3 слайда */
@media (min-width: 768px) {
    .slider__item {
        flex: 0 0 calc(100% / 1);
        max-width: calc(100% / 1);
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        font-size: 7rem;
        /*border-left: 1px solid black;  из за нах анимация сползает*/
        /*border-right: 1px solid black; но при желении можно исправть*/
    }
}
