.container {
    grid-column-gap: clamp(3vw, 20px, 50px);
    align-items: start;
    grid-row-gap: clamp(3vw, 20px, 50px);
}

.buttons {
    position: relative;
    justify-content: center;
    align-items: start;
    white-space: normal;
    display: grid;
    background-color: white;
}

.content {
    min-width: clamp(150px, 10vw, 20vw);
    max-height: 100vh;
    text-align: center;
}

.active {
    max-height: 100vh;
    transition: max-height 1.5s ease-out;
}

.content:after {
    content: "";
    position: absolute;
    right: 20px;
    top: 50%;
    border-left: 10px solid transparent;
    border-top: 10px solid #333;
    border-right: 10px solid transparent;
    z-index: 999;
}

.button {
    margin: 0 auto;
    width: calc(100 * var(--vw));
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #313133;
    background: #ffffff;
    border-bottom:  1px solid rgba(0, 0, 0, 0.35);
    /*box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2);*/
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    padding: 10px;
}

.description {
    text-align: left;
    margin-left: 0;
    padding-left: 0;
}

.table {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    border-collapse: collapse;
    min-width: clamp(160px, 30vw, 80vw);
    word-break: break-all;
}

td {
    position: center;
    vertical-align: top;
    padding-right: 2vw;
}

@media (max-width:500px)
{
    .buttons{
        grid-template-columns: repeat(1, 100px);
    }
    h1{
        font-size: 18px;
    }
    .button{
        font-size: 12px;
        border-radius: 30px;
    }
    .block_slider {
        width: min(50vw, 600px);
        margin: 0 auto;
        display: block;
    }
    .slider__container {
        overflow: hidden;
        height: min(30vw, 500px);
    }
}

@media (min-width: 500px)
{
    .buttons{
        grid-template-columns: repeat(3, 150px);
    }
    .block_slider {
        width: min(30vw, 600px);
        margin: 0 auto;
        display: block;
    }
    .slider__container {
        overflow: hidden;
        height: min(20vw, 500px);
    }
}
