@charset "UTF-8";

.container {
    position: relative;
    justify-content: center;
    display: grid;
    grid-template-columns: 50vw 50vw;
    overflow: hidden;
}

.data {
    position: relative;
    display: flex;
    justify-content: right;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.text {
    display: flex;
    position: relative;
}


h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.description {
    max-height: 0;
    overflow: auto;
    transition: max-height 2s cubic-bezier(0, 1, 0, 1);
    right: 5px;
    position: relative;
    border-radius: 38px;
}


.active {
    max-height: 30vh;
    transition: max-height 1.5s ease-out;
    border-radius: 38px;
}

.content:after {
    content: "";
    position: absolute;
    right: 5px;
    top: 50%;
    border-left: 5px solid transparent;
    border-top: 5px solid #333;
    border-right: 5px solid transparent;
    z-index: 4;
}

.button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
}

button:hover::before, button:focus::before {
    opacity: 1;
}


button:hover::after, button:focus::after {
    display: none;
}

.category_description{
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    grid-template-rows: auto;
}

.footer{
    position: relative;
}