.buttons {
    margin-top: 20px;
    justify-content: center;
    align-items: flex-start;
    white-space: normal;
    display: grid;
    grid-template-columns: repeat(1, minmax(100px, 960px));
    /*grid-template-columns: repeat(2, minmax(100px, 500px));*/
    /*grid-row-gap: 30px;*/
    /*grid-column-gap: 50px;*/
}

.category_title {
    padding-top: 12px;
    padding-bottom: 0;
}

.description > p:last-child {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: -23px;
}

.cost {
    min-width: 15%;
    justify-content: flex-end;
    margin-left: 6px;
}

.price > div:first-child {
    text-align: left;
}

.price > div {
    display: flex;
    align-items: center;
}


.content {
    min-width: 10vw;
    text-align: center;
}

.category_description {
    margin: 0 auto -20px;
    width: min(95%, 960px);
}

.text {
    padding-top: 4px;
    margin-left: 2px;
    position: relative;
    text-align: left;
    font-size: var(--primary-font-size);
}


.price_switch {
    /*position: absolute;*/
    margin-left: 3px;
    top: 8px;
    right: -1px;
    width: 20px;
    object-fit: cover;
    transition: all 0.5s;
    filter: invert(0); /* убрать при другом варианте */
    /*z-index: 5;*/
}

.price_switch_active {
    transform: rotate(-180deg);
}

.button {
    font-size: var(--primary-font-size);
    padding: 8px 3px;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.35);
    transition: all 0.25s;
}

.button:hover {
    background-color: rgba(209, 207, 188, 0.45);
}

.description {
    margin-left: 0;
    text-align: left;
    cursor: default;
    z-index: 0;
    /*color: black;*/
    transition: color 0.25s;
    font-size: calc(0.9 * var(--primary-font-size));
}

.detailed {
    color: #0000FF;
    text-decoration: underline;
    /*color: white;*/
    /*border-bottom: 1px solid white;*/
}
