.buttons {
    justify-content: center;
    align-items: center;
    white-space: normal;
    display: grid;
    background-color: white;
}

.content {
    min-width: clamp(150px, 10vw, 20vw);
    max-height: 100vh;
    text-align: center;
}


.price_switch {
    top: 8px;
    right: -1px;
    width: 20px;
    height: min-content;
    object-fit: cover;
    transition: all 0.5s;
    z-index: 3;
}

.price_switch_active {
    transform: rotate(-180deg);
}




.button_1 {
    margin: 0 auto;
    width: calc(100 * var(--vw));
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #313133;
    /*background: #4acfeb;*/
    border-bottom:  1px solid rgba(0, 0, 0, 0.35);
    /*box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2);*/
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    padding: 10px;

}

.description {
    text-align: left;
    margin-left: 0;
    padding-left: 0;
}

.table {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    border-collapse: collapse;
    min-width: clamp(160px, 30vw, 80vw);
    word-break: break-all;
}

td {
    position: center;
    vertical-align: top;
    padding-right: 2vw;
}