.buttons {
    justify-content: center;
    align-items: center;
    white-space: normal;
    display: grid;
    /*background-color: white;*/
}

.content {
    min-width: clamp(150px, 10vw, 20vw);
    /*max-height: 100vh;*/
    text-align: center;
}


.category_title {
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: calc(var(--primary-font-size) * 1.3);
}

.price_switch {
    top: 8px;
    right: -1px;
    width: 20px;
    height: min-content;
    object-fit: cover;
    transition: all 0.5s;
    /*z-index: 3;*/
}

.price_switch_active {
    transform: rotate(-180deg);
}

.button {
    margin: 0 auto;
    width: calc(100 * var(--vw, 1vw) - 34px);
    font-size: var(--primary-font-size);
    color: #000000;
    border-bottom:  1px solid rgba(0, 0, 0, 0.35);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    padding: 8px 0 8px;
}

.description {
    text-align: left;
    font-size: calc(0.9 * var(--primary-font-size));
    margin-left: 0;
    padding-left: 0;
    padding-top: 3px;
    /*color: black;*/
}

.detailed {
    margin-top: 6px;
    color: black;
}

.price > div {
    display: flex;
    align-items: center;
}

.price > div:first-child {
    margin-right: 5px;
    text-align: left;
}

.price > div:last-child {
    /*text-align: right;*/
}


.category_description {
    width: calc(100 * var(--vw, 1vw) - 34px);
    margin: auto;
}

.category_description .text {
    font-size: var(--primary-font-size);
}

.cost {
    justify-content: flex-end;
    min-width: 30%;
    /*max-width: 60%;*/
}

.description > p:last-child {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: -15px;
}

.more > div > a {
    text-decoration: underline;
}
