@charset "UTF-8";


.container {
    position: relative;
    justify-content: center;
    display: grid;
    grid-template-columns: calc(var(--vw) * 100);
    grid-row-gap: 10px;
    font-family: Arial, serif;
}

.data {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    display: flex;
    position: relative;
    justify-content: center;
    font-size: 16px;
}

h1 {
    text-align: center;
}

.description {
    /*max-height: 0;*/
    height: 0;
    overflow: hidden;
    /*transition: max-height 1.5s ease;*/
    margin-left: 3px;
    position: relative;
    text-decoration: none;
    color: #3c5850;
    cursor: default;
}

.active {
    max-height: 100vh;
    transition: max-height 1s ease-in;
}

.more {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    width: 100%;
}

.more > div > a {
    text-decoration: none;
    transition: all 0.2s;
}

.more > div > a:hover {
    opacity: 0.85;
}
