@charset "UTF-8";


.container {
    position: relative;
    justify-content: center;
    font-family: var(--primary-font-family);
}

.category_title {
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
    width: calc(100 * var(--vw, 1vw) - 34px);
    font-size: calc(var(--primary-font-size) * 1.2);
    margin: 0 auto;
}

.data {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    /*max-height: 0;*/
    height: 0;
    overflow: hidden;
    /*transition: max-height 1.5s ease;*/
    margin-left: 3px;
    position: relative;
    text-decoration: none;
    /*color: #2d2929;*/
    /*text-shadow: #ffffff 0 0 1px;*/
    /*color: #1c2f3b;*/
    opacity: 0.95;
    color: black;
    /*background: linear-gradient(rgba(169, 191, 239, 0.15), rgba(169, 191, 239, 0));*/
    /*font-weight: bolder;*/
    cursor: default;
}



.price {
    display: flex;
    justify-content: space-between;
}

.active {
    max-height: 100vh;
    transition: max-height 1s ease-in;
}

.more {
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    width: 100%;
    padding-top: 4px;
}

.more > div > a {
    text-decoration: none;
    transition: all 0.2s;
    color: #0000FF;
}

.more > div > a:hover {
    /*opacity: 0.75;*/
    text-decoration: underline;
}

.button:last-child {
    border-bottom: 0;
}
