{% extends "admin_panel/base.html" %}

{% block scripts %}
    <link rel="stylesheet" href="{{ url_for('static', filename='admin_panel.css') }}">
{% endblock %}

{% block app_content %}

    <div class="title">Страница О НАС</div>
    <div class="div_grid_panel">
        <div class="grid_panel">
            <div>
                <div class="title">О нас</div>
                <div class="grid_block">
                    <div>
                        <form>
                            <label for="input">{{ filosofi.text }}</label>
                            <input type="text" id="input" name="input">
                        </form>
                    </div>
                </div>

                <div class="title">Что есть</div>
                <div class="grid_block">
                    <div>
                        <form>
                            <label for="input">{{ about.text }}</label>
                            <input type="text" id="input" name="input">
                        </form>
                    </div>
                </div>
            </div>

            <div>
                <div class="title">Партнёры</div>
                {% for partner in partners %}
                    <div class="grid_block_photo">
                        {% set path = "/images/partner/" + partners.id|string + "0.png" %}
                        <div><img src="{{ url_for("static", filename=path) }}" alt="" class=""></div>

                        <div class="input__wrapper">
                            <input type="file" name="block_photo" id="photo" class="input input__file" multiple>
                            <label for="block_photo" class="button">
                                <span class="input__file_button">Изменить</span>
                            </label>
                        </div>
                        <div class="button_delete" id="delete_photo">
                            <label for="block_photo" class="button">
                                <span class="input__file_button">Удалить</span>
                            </label>
                        </div>

                        <div class="checkbox"></div>
                    </div>
                {% endfor %}

                <div class="title">Сотрудники</div>
                {% for employee in employees %}
                    <div class="grid_block_photo">
                        {% set path = "images/employee/" + employee.id|string + "0.png" %}
                        <figure class="img__employ">
                            <img src="{{ url_for("static", filename=path) }}" alt="" class="">

                        <figcaption>
                            <div class="name_employees">{{ employee.name }}<input type="text" id="input" name="input"></div>
                        </figcaption>
                        <figcaption>
                            <div class="position_employees">{{ employee.position }}<input type="text" id="input" name="input"></div>
                        </figcaption>
                        </figure>

                        <div class="input__wrapper">
                            <input type="file" name="block_photo" id="photo" class="input input__file" multiple>
                            <label for="block_photo" class="button">
                                <span class="input__file_button">Изменить</span>
                            </label>
                        </div>
                        <div class="button_delete" id="delete_photo">
                            <label for="block_photo" class="button">
                                <span class="input__file_button">Удалить</span>
                            </label>
                        </div>

                        <div class="checkbox"></div>
                    </div>
                {% endfor %}

            </div>

        </div>
    </div>




{% endblock %}