{% extends "admin_panel/base.html" %}

{% block scripts %}
    <link rel="stylesheet" href="{{ url_for('static', filename='admin_panel/about.css') }}">
    <link id="style" rel="stylesheet" href="{{ url_for('static', filename='contacts/contacts.css') }}">
{% endblock %}

{% block app_content %}
    {{ ckeditor.load() }}
    <div class="title">Страница О НАС</div>
    <div class="div_grid_panel">
        <form method="POST" enctype="multipart/form-data">
            <div class="grid_panel">
                <div>
                    <div class="grid_block">
                        <div>
                            <label for="about_text">
                                <center>Философия</center>
                                <br>
                            </label>
                            <textarea name="about_text" id="about_text" class=""
                            >{{ about.text|safe if about.text }}</textarea>
                            <input type="submit" value="Сохранить" class="confirm_text">
                        </div>
                    </div>
                    <br>
                    <div class="grid_block">
                        <div>
                            <label for="title">
                                <center>О нас</center>
                                <br>
                            </label>
                            <textarea name="filosofi_text" id="filosofi_text" class=""
                            >{{ filosofi.text|safe if filosofi.text }}</textarea>
                            <input type="submit" value="Сохранить" class="confirm_text">
                        </div>
                    </div>
                    <br>
                    <div class="grid_block">
                        <div>
                            <label for="structure_text">
                                <center>Инфраструктура</center>
                                <br>
                            </label>
                            <textarea name="structure_text" id="structure_text" class=""
                            >{{ structure.text|safe if structure.text }}</textarea>
                            <input type="submit" value="Сохранить" class="confirm_text">
                        </div>
                    </div>
                    <div>
                        <div class="title">Карта</div>
                        <div class="grid_block">
                            <div class="map_img_container">
                                <img class="map_img"
                                     src="{{ url_for("static", filename='images/staff/map_about.jpg') }}"
                                     alt="Карта">
                            </div>
                        </div>
                        <div class="input__wrapper">
                            <input type="file" class="input__file" id="map" name="map">
                            <label for="map" class="input__file_button">
                                <span class="input__file_button_text_2">Изменить</span>
                            </label>
                        </div>
                        <div class="input__wrapper">
                            <input type="submit" id="map_submit" value="Подтвердить" class="input__file">
                            <label for="map_submit" class="input__file_button">
                                <span class="input__file_button_text_2">Сохранить изменения</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="">
                    <div class="title">Партнёры</div>
                    <br>
                    {% for partner in partners %}
                        <div class="partners_map_1">
                            <div class="grid_block_photo">
                                {% if partner.name != 'temp' %}
                                    {% set path = "images/partner/" + partner.id|string + ".jpg" %}
                                    <figure class="img__employ">
                                        <center><img src="{{ url_for("static", filename=path) }}"
                                                     class="partimg"></center>
                                        <figcaption>
                                            <div class="ss">
                                                <center>Ссылка на партнера</center>
                                            </div>
                                        </figcaption>
                                        <figcaption>
                                            <center>
                                                <input type="text" name="partner_{{ partner.id }}_link"
                                                       id="partner_{{ partner.id }}_link" class="employ_txt"
                                                       value="{{ partner.link if partner.link }}">
                                            </center>
                                        </figcaption>
                                    </figure>
                                {% else %}
                                    <figure class="img__employ" style="height: 50px;">
                                        <figcaption style="text-align: center">
                                            Добавить нового партнёра
                                        </figcaption>
                                        <figcaption>
                                            <div class="ss">
                                                <center>Ссылка на партнера</center>
                                            </div>
                                        </figcaption>
                                        <figcaption>
                                            <center>
                                                <input type="text" name="partner_{{ partner.id }}_link"
                                                       id="partner_{{ partner.id }}_link" class="employ_txt"
                                                       value="{{ partner.link if partner.link }}">
                                            </center>
                                        </figcaption>
                                    </figure>
                                {% endif %}

                                <div class="input__wrapper">
                                    <input type="file" name="partner_{{ partner.id }}_photo"
                                           id="partner_{{ partner.id }}_photo" class="input__file" value="Изменить">
                                    <label for="partner_{{ partner.id }}_photo" class="input__file_button">
                                        <span class="input__file_button_text_2">{% if partner.name != 'temp' %}Изменить
                                            фото
                                        {% else %}Загрузить фото{% endif %}</span>
                                    </label>

                                    <input type="submit" id="partner_{{ partner.id }}_save" value="Сохранить"
                                           class="input__file" name="partner_{{ partner.id }}_save">
                                    <label for="partner_{{ partner.id }}_save" class="input__file_button">
                                        <span class="input__file_button_text_2">{% if partner.name != 'temp' %}Сохранить
                                        {% else %}Добавить{% endif %}</span>
                                    </label>
                                    {% if partner.name != 'temp' %}
                                        <input type="submit" class="input__file"
                                               id="partner_{{ partner.id }}_delete"
                                               name="partner_{{ partner.id }}_delete">
                                        <label for="partner_{{ partner.id }}_delete" class="input__file_button">
                                            <span class="input__file_button_text_2">Удалить</span>
                                        </label>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </form>
    </div>

    {{ ckeditor.config(name='filosofi_text') }}
    {{ ckeditor.config(name='about_text') }}
    {{ ckeditor.config(name='structure_text') }}

{% endblock %}