<!DOCTYPE html>
<html id="html" lang="ru">
<head id="head">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="{{ url_for('static', filename='main/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin_panel.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename="favicon.ico") }}"/>
    {% block link %}{% endblock %}

    <script defer src="{{ url_for('static', filename='plugins/jquery.min.js') }}"></script>
    <script defer src="https://ajax.googleapis.com/ajax/libs/hammerjs/2.0.8/hammer.min.js"></script>
    <script src="{{ url_for('static', filename='plugins/mobile-detect.min.js') }}"></script>
    <script defer src="{{ url_for('static', filename='base.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='modal_window.js') }}"></script>

    {% block scripts %}{% endblock %}

    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Т-Парк</title>
    {% endif %}

    <script>
        let detect = new MobileDetect(window.navigator.userAgent)

        let link = document.createElement('link')
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.media = 'all';

        link.href = detect.mobile() ? '/static/admin_panel/phone_admin_panel.css' :
            '/static/admin_panel/desktop_admin_panel.css'

        document.head.append(link)
    </script>
</head>

<body id="body">


<div id="main_block" class="main_block">
    <div id="upper_container" class="upper_container">
        <div id="upper" class="upper" style="width: min(var(--vw, 1vw) * 100 - 34px, 1200px); margin: 0 auto;">
            <div id="mobile_upper" class="mobile_upper">
                <div id="upper_buttons" class="upper_buttons">
                    <div class="upper_main" data-modal-window-toggle="#services-modal-win">
                        <div class="burger_container">
                            <div class="menu-btn" style="opacity: 0;">
                                <i class="fa fa-bars fa-inverse fa-2x"></i>
                            </div>
                        </div>
                        <div class="menu-btn menu-btn-visible">
                            <i class="fa fa-bars fa-inverse fa-2x"></i>
                        </div>
                    </div>

                    <div>
                        <div class="upper_media">
                            {% block page_name %}{% endblock %}
                        </div>
                    </div>

                    <div></div>
                </div>

                <div id="services-modal-win" class="modal submenu">
                    <div class="modal-window">
                        <div class="modal-upper">
                            <div class="modal-upper-content">
                                <div>
                                    <a href="#">
                                        <img style="object-fit: cover; height: 20px; filter: invert(1)"
                                             src="{{ url_for('static', filename='home.svg') }}" alt="">
                                    </a>
                                </div>
                                <div>Меню</div>
                                <div>
                                    <a href="" onclick="history.back(); return false">
                                        <img style="object-fit: cover; height: 20px; filter: invert(1)"
                                             src="{{ url_for('static', filename='back.svg') }}" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="modal-content">
                            <div class="modal-item submenu-item">
                                <a class="modal-link"
                                   href="{{ url_for('admin_panel.category') }}">
                                    Категории
                                </a>
                            </div>
                            <div class="modal-item submenu-item">
                                <a class="modal-link"
                                   href="{{ url_for('admin_panel.events') }}">
                                    События
                                </a>
                            </div>
                            <div class="modal-item submenu-item">
                                <a class="modal-link"
                                   href="{{ url_for('admin_panel.about') }}">
                                    О нас
                                </a>
                            </div>
                            <div class="modal-item submenu-item">
                                <a class="modal-link"
                                   href="{{ url_for('admin_panel.all_services') }}">
                                    Услуги
                                </a>
                            </div>
                            <div class="modal-item submenu-item">
                                <a class="modal-link"
                                   href="{{ url_for('admin_panel.gallery') }}">
                                    Фотоальбом
                                </a>
                            </div>
                            <div class="modal-item submenu-item">
                                <a class="modal-link"
                                   href="{{ url_for('admin_panel.category_types') }}">
                                    Группы категорий
                                </a>
                            </div>
                            <div class="modal-item submenu-item">
                                <a class="modal-link"
                                   href="{{ url_for('admin_panel.comments') }}">
                                    Отзывы
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="overlay"></div>
                </div>
            </div>

            <div class="desktop_upper">
                <div id='navigation_buttons' class="block_buttons">
                    <div style="display: flex;">
                        <a id="about-us-button" class="button_main decoration"
                           href="{{ url_for('admin_panel.category') }}">
                            <div class="">
                                Категории
                            </div>
                        </a>
                        <a id="about-us-button" class="button_main button_main_middle_left decoration"
                           href="{{ url_for('admin_panel.events') }}" style="border-right: 0;">
                            <div class="">
                                События
                            </div>
                        </a>
                        <a id="about-us-button" class="button_main button_main_middle_left decoration"
                           href="{{ url_for('admin_panel.about') }}">
                            <div class="">
                                О нас
                            </div>
                        </a>
                        <a id="about-us-button" class="button_main decoration"
                           href="{{ url_for('admin_panel.all_services') }}">
                            <div class="">
                                Услуги
                            </div>
                        </a>
                        <a id="about-us-button" class="button_main button_main_middle_right decoration"
                           href="{{ url_for('admin_panel.comments') }}">
                            <div class="">
                                Отзывы
                            </div>
                        </a>
                        <a id="about-us-button" class="button_main decoration"
                           href="{{ url_for('admin_panel.gallery') }}">
                            <div class="">
                                Фотоальбом
                            </div>
                        </a>
                        <a id="about-us-button" class="button_main decoration"
                           href="{{ url_for('admin_panel.events_content') }}">
                            <div class="">
                                Страница событий
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block app_content %}{% endblock %}
</div>

</body>
</html>
