<!DOCTYPE html>
<html id="html" lang="ru">
<head id="head">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="{{ url_for('static', filename='main/main.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename="favicon.ico") }}"/>
    {% block link %}{% endblock %}

    <script defer src="{{ url_for('static', filename='plugins/jquery.min.js') }}"></script>
    <script defer src="{{ url_for('static', filename='plugins/hammer.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/mobile-detect.min.js') }}"></script>
    {% block scripts %}{% endblock %}

    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Т-Парк</title>
    {% endif %}
</head>

<body id="body">

{#<div id="upper_container" class="upper_container">#}
{#    <div id="upper" class="upper">#}
{#        <div id="block_logo" class="block_logo">#}
{#            <a href="{{ url_for('main.index') }}">#}
{#                <img id="logo" class="img_logo" src="{{ url_for('static', filename='logo.png') }}" alt="">#}
{#            </a>#}
{#        </div>#}
{#        <div id='navigation_buttons' class="block_buttons">#}
{#            <div style="display: flex;">#}
{#                <div class="button_main"#}
{#                     data-modal-window-toggle="#services-modal-win">#}
{#                    <div id="services-button">#}
{#                        Услуги#}
{#                    </div>#}
{#                    <!--Модальные окно/выпадающее меню -->#}
{#                    <div id="services-modal-win" class="modal submenu">#}
{#                        <div class="modal-window">#}
{#                            {% for category in categories %}#}
{#                                {% if category.status %}#}
{#                                    <div class="modal-item submenu-item">#}
{#                                        <a href="{{ url_for('main.category') }}?category_id={{ category.id }}">#}
{#                                            {{ category.name }}#}
{#                                        </a>#}
{#                                    </div>#}
{#                                {% endif %}#}
{#                            {% endfor %}#}
                            {#                            <close class="btn-close-modal-window">#}
                            {#                                <img src="{{ url_for('static', filename='cross.png') }}" alt="X">#}
                            {#                            </close>#}
{#                        </div>#}
{#                        <div class="overlay"></div>#}
{#                    </div>#}
{#                </div>#}
{#                <a id="about-us-button" class="button_main button_main_middle about_a"#}
{#                   href="{{ url_for('main.about') }}">#}
{#                    <div href="{{ url_for('main.about') }}" class="">#}
{#                        О нас#}
{#                    </div>#}
{#                </a>#}
{#                <div class="button_main" data-modal-window-toggle="#contacts-modal-win">#}
{#                    <div id="contact-button">#}
{#                        Контакты#}
{#                    </div>#}
{#                    <div id="contacts-modal-win" class="modal submenu contacts">#}
{#                        <div class="modal-window">#}
{#                            <div class="modal-item submenu-item">#}
{#                                <div class="geolocation" style="align-items: center">#}
{#                                    <a href="{{ geolocation }}" target="_blank" style="color: black">Мы на карте#}
{#                                        <img id="geo" class="geo" src="{{ url_for('static', filename='geo.png') }}"#}
{#                                             alt="">#}
{#                                    </a>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="modal-item submenu-item">#}
{#                                <div class="address">Адрес: {{ address }}</div>#}
{#                            </div>#}
{#                            {% for number in phone_numbers %}#}
{#                                <div class="modal-item submenu-item"#}
{#                                     onclick="copy_number('+7' + {{ number }}, this)">#}
{#                                    <a style='text-decoration: none'#}
{#                                       href="#">+7{{ number }}</a>#}
{#                                    <img style='object-fit: cover; width: 20px; height: 20px; margin-bottom: -2px; margin-left: -6px;'#}
{#                                         src="{{ url_for('static', filename='copy.png') }}" alt="">#}
{#                                </div>#}
{#                            {% endfor %}#}
{#                            <div class="modal-item submenu-item media">#}
{#                                <div class="social">#}
{#                                    <ul class="social-icons">#}
{#                                        <li><a class="vk" href="{{ vk }}" target="_blank"><i class="fa fa-vk"></i></a>#}
{#                                        </li>#}
{#                                        <li><a class="whatsapp" href="https://wa.me/7{{ number }}" target="_blank">#}
{#                                            <i class="fa fa-whatsapp"></i></a></li>#}
{#                                        <li><a class="insta" href="{{ insta }}" target="_blank"><i#}
{#                                                class="fa fa-instagram"></i></a>#}
{#                                        </li>#}
{#                                    </ul>#}
{#                                </div>#}
{#                            </div>#}
                            {#                            <close class="btn-close-modal-window">
{#                                <img src="{{ url_for('static', filename='cross.png') }}" alt="X">#}
{#                            </close>#}
{#                        </div>#}
{#                        <div class="overlay"></div>#}
{#                    </div>#}
{#                    <!--конец модальных окон-->#}
{#                </div>#}
{#            </div>#}
{##}
{#        </div>#}
{##}
{#        <div id="upper_block_info" class="block_info">#}
{#            <div class='name'>#}
{#                <div>Тренинг-парк</div>#}
{#                <div>Дмитрия Сергеева</div>#}
{#            </div>#}
{#            <div id="phone_numbers" class="block_numbers">#}
{#                <div onclick="copy_number('+7(945)759-46-80', this)"#}
{#                     title="Нажмите чтобы скопировать">+7(945)759-46-80</div>#}
{#                <div onclick="copy_number('+7(968)898-73-22', this)"#}
{#                     title="Нажмите чтобы скопировать">+7(968)898-73-22</div>#}
{##}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

<div id="main_block" class="main_block">
    {% block app_content %}{% endblock %}
</div>

</body>
</html>
