{% extends "admin_panel/base.html" %}

{% block scripts %}
    <link rel="stylesheet" href="{{ url_for('static', filename='admin_panel/event_create.css') }}">
{% endblock %}

{% block app_content %}
    <form class="form" method="post" action="{{ url_for('admin_panel.category_type_create') }}" enctype="multipart/form-data">
        <div class="form_container">
            <label for="name">Название группы</label>
            <input type="text" name="name" id="name" placeholder="Название группы">

            <label for="number">Порядковый номер</label>
            <input type="number" name="number" id="number" placeholder="Порядковый номер">

            <label for="select">Категории в группе</label>
            <div class="grid_category">
                {% set i = namespace(a=1) %}
                {% for category in categories %}
                    <label for="category{{ category.id }}" class="label_1">{{ category.name }}</label>
                    <input type="checkbox" id="category{{ category.id }}" class="checkbox"
                           name={{ category.id }}  value={{ category.id }}>
                    {% set i.a = i.a + 1 %}
                {% endfor %}
            </div>
            <input type="submit" value="Создать">
        </div>

    </form>
{% endblock %}
