{% extends "admin_panel/base.html" %}

{% block app_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='admin_panel/category.css') }}">

    {{ ckeditor.load() }}
    {% set title = ckeditor %}
    <div class="title">Категории услуг</div>

    <div class="grid_panel">
        <div class="grid_block partners_map">
            <form method="POST" enctype="multipart/form-data"
                  action="{{ url_for('admin_panel.category_change') }}?category_id={{ category.id }}">
                <div class="grid_service">

                    <label for="title">Название категории</label>
                    <input type="text" name="title" id="title"
                           class="category_name" value="{{ category.name if category.name }}">

                    <label for="type">Группа категории</label>
                    <input type="text" name="type" id="type"
                           class="category_name" value="{{ category.type if category.type }}">

                    <div style="text-align: left;">
                        <div class="grid_checkbox">
                            <label for="checkbox_1" style="text-align: left;">Отображать/Скрыть</label>
                            <input style="margin-left: 0;" type="checkbox" id="checkbox_1" class="checkbox"
                                   name="mycheckbox" value="1" {{ "checked" if
                        category.status else "" }}/>
                        </div>
                    </div>

                    <div class="input__wrapper">
                        <input type="submit" id="delete_category" class="input__file" name="delete_category"
                               value="Удалить категорию">
                        <label for="delete_category" class="input__file_button">
                            <span class="input__file_button_text_2">Удалить категорию</span>
                        </label>
                    </div>

                    <label for="weight">Порядковый номер вывода категории</label>
                    <input type="text" name="weight" id="weight" class="little_input"
                           value="{{ category.number if category.number else " 30" }}">

                    <label for="input_desc">Описание</label>
                    {{ ckeditor.create(value=category.description|safe if category.description) }}
                </div>

                {% set i = namespace(a=0) %}
                {% for element in services %}
                    <div class="grid_element">
                        {% set service = element.service %}

                        <div class="grid_checkbox_2">
                            <div>
                                <label>
                                    <input class="service_number" type="number" min="0"
                                           name="service_number_{{ service.id }}" value="{{ numbers[i.a] }}">
                                </label>
                            </div>
                            <a href="{{ url_for('admin_panel.service_test') }}?service_id={{ service.id }}"
                               class="service_name">{{ service.name if service.name }}</a>
                            <div>
                                <label for="checkbox_{{ service.id }}"></label>
                                <input type="checkbox" class="checkbox" name="service_checkbox_{{ service.id }}"
                                       id="checkbox_{{ service.id }}"
                                       value="1" {{ "checked" if service.status else "" }}/>
                            </div>
                        </div>
                    </div>
                    {% set i.a = i.a + 1 %}
                {% endfor %}
                <div>
                    <div class="title">Фото</div>

                    <div class="grid_block_photo">
                        {% if photo %}
                        <div><img
                                src="{{ url_for('static',filename='/images/category/' + category.id|string + '.png') }}"
                                alt="" class="image">
                        </div>
                        {% endif %}

                        <div class="input__wrapper">
                            <input type="file" class="input__file" id="add_photo" name="add_photo">
                            <label for="add_photo" class="input__file_button">
                                <span class="input__file_button_text_2">Добавить</span>
                            </label>
                        </div>

                        <div class="input__wrapper">
                            <input type="submit" id="delete_photo" class="input__file"
                                   name="delete_photo"
                                   value="Удалить">
                            <label for="delete_photo" class="input__file_button">
                                <span class="input__file_button_text_2">Удалить</span>
                            </label>
                        </div>
                    </div>

                </div>
                <div class="input__wrapper">
                    <input type="submit" id="Submit" value="Подтвердить" class="input__file">
                    <label for="Submit" class="input__file_button">
                        <span class="input__file_button_text_2">Сохранить изменения</span>
                    </label>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
