{% extends "admin_panel/base.html" %}

{% block app_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='admin_panel/category.css') }}">

    {{ ckeditor.load() }}
    {% set title = ckeditor %}
    <div class="title">Категории услуг</div>

    <div class="grid_panel">
        <div class="grid_block partners_map">
            <form method="POST" enctype="multipart/form-data"
                  action="{{ url_for('admin_panel.category_change') }}?category_id={{ category.id }}">
                <div class="grid_service">

                    <label for="title">Название категории</label>
                    <input type="text" name="title" id="title"
                           class="category_name" value="{{ category.name if category.name }}">

                    <div style="text-align: left;">
                        <div class="grid_checkbox">
                            <label for="checkbox_1" style="text-align: left;">Отображать/Скрыть</label>
                            <input style="margin-left: 0;" type="checkbox" id="checkbox_1" class="checkbox"
                                   name="mycheckbox" value="1" {{ "checked" if
                        category.status else "" }}/>
                        </div>
                    </div>

                    <div class="input__wrapper">
                        <input type="submit" id="delete_category" class="input__file" name="delete_category"
                               value="Удалить категорию">
                        <label for="delete_category" class="input__file_button">
                            <span class="input__file_button_text_2">Удалить категорию</span>
                        </label>
                    </div>

                    <label for="weight">Порядковый номер вывода категории</label>
                    <input type="text" name="weight" id="weight" class="little_input"
                           value="{{ category.number if category.number else " 30" }}">

                    <label for="input_desc">Описание</label>
                    {{ ckeditor.create(value=category.description|safe if category.description) }}
                </div>

                {% for element in services %}
                    <div class="grid_element">
                        {% set service = element.service %}

                        <div class="grid_checkbox">
                            <a href="{{ url_for('admin_panel.service_test') }}?service_id={{ service.id }}"
                               class="service_name">{{ service.name if service.name }}</a>
                            <div>
                                <label for="checkbox_{{ service.id }}"></label>
                                <input type="checkbox" class="checkbox" name="service_checkbox_{{ service.id }}"
                                       id="checkbox_{{ service.id }}"
                                       value="1" {{ "checked" if service.status else "" }}/>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div>
                    <div class="title">Фото</div>

                    <div class="grid_block_photo">
                        {% for photo in files %}
                            <div><img
                                    src="{{ url_for('static',filename='/images/category/' + category.id|string  + '/' + photo) }}"
                                    alt="" class="image"></div>

                            <div class="input__wrapper">
                                <input type="file" class="input__file" id="add_{{ photo }}" multiple
                                       name="add_{{ photo }}">
                                <label for="add_{{ photo }}" class="input__file_button">
                                    <span class="input__file_button_text_2">Добавить</span>
                                </label>
                            </div>

                            <div class="input__wrapper">
                                <input type="submit" id="delete_{{ photo }}" class="input__file"
                                       name="delete_{{ photo }}"
                                       value="Удалить">
                                <label for="delete_{{ photo }}" class="input__file_button">
                                    <span class="input__file_button_text_2">Удалить</span>
                                </label>
                            </div>
                        {% endfor %}

                        {% if not files[0] %}
                            <div class="input__wrapper">
                                <input type="file" id="blank_file" multiple name="add_photo" class="input__file">
                                <label for="blank_file" class="input__file_button">
                                    <span class="input__file_button_text_2">Добавить</span>
                                </label>
                            </div>
                        {% endif %}

                    </div>

                </div>
                <div class="input__wrapper">
                    <input type="submit" id="Submit" value="Подтвердить" class="input__file">
                    <label for="Submit" class="input__file_button">
                        <span class="input__file_button_text_2">Сохранить изменения</span>
                    </label>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
