{% extends "admin_panel/base.html" %}

{% block scripts %}
    <link rel="stylesheet" href="{{ url_for('static', filename='admin_panel.css') }}">
{% endblock %}

{% block app_content %}
    {{ ckeditor.load() }}
    {% set title = ckeditor %}
    <div class="title">Категории услуг</div>

    <div class="grid_panel">
        <div>
            <form method="POST">
                <div class="grid_service">
                    <label for="title">Название категории</label>
                    <textarea name="title" id="title"
                              class="category_name">{{ category.name if category.name }}</textarea>
                    <div class="grid_checkbox">
                        <label for="checkbox_1">Отображать</label>
                        <label for="checkbox_2">Скрыть</label>
                        <input type="radio" id="checkbox_1" class="checkbox" name="mycheckbox" value="1" {{ "checked" if
                        category.status else "" }}/>
                        <input type="radio" id="checkbox_2" class="checkbox" name="mycheckbox" value="0" {{ "checked" if
                        category.status == 0 else "" }}/>
                    </div>
                    <div class="button_delete" id="delete_category">
                        <label for="block_photo" class="button">
                            <input type ="submit"  class="input__file_button"  name="delete_category" value="Удалить категорию"></span>
                        </label>
                    </div>
                    <label for="input_desc">Описание</label>
                    {{ ckeditor.create(value=category.description|safe if category.description) }}
                </div>
                    {% for element in services %}
                        <div class="grid_element">
                            {% set service = element.service %}
                            <br>
                            <a href="{{ url_for('admin_panel.service_test') }}?service_id={{ service.id }}" class="service_name">{{ service.name if service.name }}</a>
                            <div class="grid_checkbox">
                                <label for="checkbox_{{ service.id }}">Отображать</label>
                                <label for="checkbox_{{ service.id + 1 }}">Скрыть</label>
                                <input type="radio" class="checkbox" name="service_checkbox_{{ service.id }}" id="checkbox_{{ service.id }}" value="1" {{ "checked" if
                            service.status else "" }}/>
                                <input type="radio" class="checkbox" name="service_checkbox_{{ service.id }}" id="checkbox_{{ service.id + 1 }}" value="0" {{ "checked" if
                            service.status == 0 else "" }}/>
                            </div>
                            <br>
                        </div>
                    {% endfor %}
            </div>
        <div>
            <div class="title">Фото</div>
            <div class="grid_block_images">
                {% for photo in files %}
                <div class="images"><img src="{{ url_for('static',filename='/images/category/' + category.id|string  + '/' + photo) }}" alt="" class="images"></div>

                <div class="input__wrapper">
                    <input type="file" name="block_photo" id="photo" class="input input__file" multiple>
                    <label for="block_photo" class="button">
                        <span class="input__file_button">Изменить</span>
                    </label>
                </div>
                <div class="button_delete" id="delete_photo">
                    <label for="block_photo" class="button">
                        <span class="input__file_button">Удалить</span>
                    </label>
                </div>
                {% endfor %}
                <div>
                    <input type="submit" value="Подтвердить" class="submit_button">
                </div>
            </div>
            </form>
        </div>
    </div>


{% endblock %}
