{% extends "admin_panel/base.html" %}

{% block scripts %}
<link rel="stylesheet" href="{{ url_for('static', filename='admin_panel/events.css') }}">
{% endblock %}

{% block app_content %}

<div class="block_event">
    <div class="new_event event">
        <a href="{{ url_for('admin_panel.category_create') }}">Создать новую категорию</a>
    </div>
    <div class="events">
        {% for category in categories %}
        <div class="event">
            <a href="{{ url_for('admin_panel.category_change', category_id=category.id ) }}">
                <div class="title">
                    {{ category.name }}
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
