{% extends "admin_panel/base.html" %}

{% block scripts %}
<link rel="stylesheet" href="{{ url_for('static', filename='admin_panel/category_create.css') }}">
{% endblock %}

{% block app_content %}

<form class="form" method="POST" action="{{ url_for('main.category_create') }}" enctype="multipart/form-data">
    <div class="form_container">

        <input type="file" name="photo" id="photo">

        <label for="title"></label>
        <input type="text" name="title" id="title" placeholder="Название">


        <label for="description"></label>
        <textarea name="description" id="description" autocomplete="off"
                  placeholder="Описание" cols="50" rows="20"></textarea>

        <input type="submit" value="Создать">
    </div>

</form>

{% endblock %}
