{% extends "admin_panel/base.html" %}

{% block scripts %}
    <link rel="stylesheet" href="{{ url_for('static', filename='admin_panel/event_create.css') }}">
{% endblock %}

{% block app_content %}
    {{ ckeditor.load() }}

    <form class="form" method="POST" enctype="multipart/form-data"
          action="{{ url_for('admin_panel.edit_category_type') }}?type_id={{ type.id }}">
        <div class="form_container">
            <label for="name">Название группы</label>
            <input type="text" name="name" id="name" placeholder="Название групп"
                   value="{{ type.name }}">

            <label for="number">Порядковый номер</label>
            <input type="number" name="number" id="number" placeholder="Порядковый номер"
            value="{{ type.number if type.number }}">

            <label for="select">Категории в данной группе</label>
            <div class="grid_category">
                {% set i = namespace(a=1) %}
                {% for category in categories %}
                        <label for="category{{ category.id }}" class="label_1">{{ category.name }}</label>
                        <input type="checkbox" id="category{{ category.id }}" class="checkbox"
                               name={{ category.id }}  value={{ category.id }}
                                {{ "checked" if category.id == categories_checked[i.a] else "" }}>
                        {% set i.a = i.a + 1 %}
                {% endfor %}
            </div>

            <div class="input__wrapper">
                <input name="delete" id="delete" type="submit" value="Сохранить изменения" class="input__file">
                <label for="delete" class="input__file_button">
                    <span class="input__file_button_text_2">Удалить группу</span>
                </label>
            </div>

            <div class="input__wrapper">
                <input name="submit" id="submit" type="submit" value="Сохранить изменения" class="input__file">
                <label for="submit" class="input__file_button">
                    <span class="input__file_button_text_2">Сохранить изменения</span>
                </label>
            </div>
        </div>

    </form>

    {{ ckeditor.config(name='text') }}
{% endblock %}
