{% extends "admin_panel/base.html" %}

{% block scripts %}
    <link rel="stylesheet" href="{{ url_for('static', filename='admin_panel/event_create.css') }}">
{% endblock %}

{% block app_content %}
    {{ ckeditor.load() }}
    <form class="form" method="POST" enctype="multipart/form-data"
          action="{{ url_for('admin_panel.edit_comment') }}?comment_id={{ comment.id }}">
        <div class="form_container">
            <label for="name"></label>
            <input type="text" name="name" id="name" placeholder="Имя"
                   value="{{ comment.name }}">

            {% set x = '../../..' + url_for('static', filename='images/comments/' + comment.id|string + '.jpg') %}
            <div style="width: 50px; height: 50px; background-size: 50px; object-fit: cover;
                    border-radius: 50%; background-position: 50% 50%; margin: 10px;
                    background-image: url({{ x }}); background-repeat: no-repeat">
            </div>

            <label for="text">
            <textarea name="text" id="text" autocomplete="off"
                      placeholder="Отзыв" cols="50" rows="20">{{ comment.text|safe }}</textarea>
            </label>

            <div class="input__wrapper" style="margin-top: 10px;">
                <input type="file" name="change" id="photo" class="input__file" value="Изменить">
                <label for="photo" class="input__file_button">
                    <span class="input__file_button_text_2">Изменить фото</span>
                </label>
            </div>

            <div class="input__wrapper">
                <input name="delete" id="delete" type="submit" value="Сохранить изменения" class="input__file">
                <label for="delete" class="input__file_button">
                    <span class="input__file_button_text_2">Удалить отзыв</span>
                </label>
            </div>

            <div class="input__wrapper">
                <input name="submit" id="submit" type="submit" value="Сохранить изменения" class="input__file">
                <label for="submit" class="input__file_button">
                    <span class="input__file_button_text_2">Сохранить изменения</span>
                </label>
            </div>
        </div>

    </form>

    {{ ckeditor.config(name='text') }}
{% endblock %}
