{% extends "admin_panel/base.html" %}

{% block scripts %}
    <link rel="stylesheet" href="{{ url_for('static', filename='admin_panel.css') }}">

{% endblock %}

{% block app_content %}

    {{ ckeditor.load() }}

    <div class="grid_panel">
        <form method="POST" enctype="multipart/form-data">
            <div class="grid_block partners_map">
                <div class="title">Страница событий</div>

                <div class="title">Текст</div>
                <div class="grid_block">
                    <div>

                        <label for="title">Текст страницы событий</label>
                        <textarea name="title" id="title" class="category_name">
                            {{ main_text.text|safe }}
                        </textarea>
                        <div class="input__wrapper" style="margin-top: 10px;">
                            <input name="submit" id="submit" type="submit" value="Сохранить изменения" class="input__file">
                            <label for="submit" class="input__file_button">
                                <span class="input__file_button_text_2">Сохранить изменения</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="title">Фотографии</div>
                {% for photo in files %}
                    <div class="grid_block_photo">
                        <div class="block_image">
                            <img src="{{ url_for('static',filename='/images/staff/' + photo) }}" alt=""
                                 class="image">
                        </div>

                        <div class="input__wrapper">
                            <input type="file" name="change_{{ photo }}" id="change_{{ photo }}" class="input__file"
                                   value="Изменить">
                            <label for="change_{{ photo }}" class="input__file_button">
                                <span class="input__file_button_text_2">Изменить</span>
                            </label>
                        </div>

                        <div class="input__wrapper">
                            <input type="submit" id="delete_{{ photo }}" class="input__file"
                                   name="delete_{{ photo }}"
                                   value="Удалить">
                            <label for="delete_{{ photo }}" class="input__file_button">
                                <span class="input__file_button_text_2">Удалить</span>
                            </label>
                        </div>
                    </div>
                {% endfor %}

                <div class="grid_block_photo">

                    <div class="input__wrapper" id="delete_photo">

                    </div>
                        <div class="input__wrapper">
                            <input type="file" id="blank_file" name="add_photo" class="input__file">
                            <label for="blank_file" class="input__file_button">
                                <span class="input__file_button_text_2">Добавить</span>
                            </label>
                        </div>
                </div>
            </div>
        </form>
    </div>


    {{ ckeditor.config(name='title') }}

{% endblock %}
