{% extends "admin_panel/base.html" %}

{% block scripts %}
    <link rel="stylesheet" href="{{ url_for('static', filename='admin_panel.css') }}">
{% endblock %}

{% block app_content %}

    <div class="title">Главная страница</div>
    <div class="div_grid_panel">
        <div class="grid_panel">
            <div>
                <div class="title">Текст</div>
                <div class="grid_block">
                    <div>{{ main_text.title }}</div>
                    <div>
                        <form>
                            <label for="title">Текст главной страницы</label>
                            <textarea name="title" id="title" class="category_name">
                            {{ main_text.text }}
                            </textarea>
                            <input type="submit" value="Подтвердить">
                        </form>
                    </div>

                </div>
            </div>

            <div>
                <div class="title">Фото</div>
                {% set i = 0 %}
                {% for i in range(3) %}
                    <div class="grid_block_photo">
                        {% set path = "images/staff/" + i|string + ".png" %}
                        <div class="block_image"><img src="{{ url_for("static", filename=path) }}" alt="" class="image">
                        </div>

                        <div class="input__wrapper">
                            <input type="file" name="block_photo" id="photo" class="input input__file" multiple>
                            <label for="block_photo" class="button">
                                <span class="input__file_button">Изменить</span>
                            </label>
                        </div>
                        <div class="input__wrapper" id="delete_photo">
                            <label for="block_photo" class="button">
                                <span class="input__file_button">Удалить</span>
                            </label>
                        </div>

                        <div class="checkbox"></div>
                    </div>
                {% endfor %}
                <div class="grid_block_photo">
                    <div class="input__wrapper" id="delete_photo">

                    </div>
                    <div class="input__wrapper" id="delete_photo">

                    </div>
                    <div class="input__wrapper_2" id="delete_photo">
                        <label for="block_photo" class="button">
                            <span class="input__file_button" href="https://Т-Парк/admin_panel/events">Events</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}
