{% extends "admin_panel/base.html" %}

{% block scripts %}
    <link rel="stylesheet" href="{{ url_for('static', filename='admin_panel.css') }}">
{% endblock %}

{% block app_content %}


    <div class="grid_panel">
        <div>
            <div class="title">Текст</div>
            <div class="grid_block">

                <div>
                    <form method="POST">

                        <label for="title">Название услуги</label>
                        <input type="text" name="title" id="title" class="category_name"
                               value="{{ service.name}}">

                        <label for="input_desc">Краткое описание</label>
                        <textarea  name="input_short_desc" id="input_short_desc" class="category_name"
                               >{{ service.short_description }}</textarea>

                        <label for="input_desc">Описание</label>
                        <textarea  name="input_desc" id="input_desc" class="category_name"
                               >{{ service.description }}</textarea>

                        <label for="input_price">Цена</label>
                        <input type="text" name="input_price" id="input_price" class="category_name"
                               value="{{ service.price }}">

                        <input type="submit" value="Подтвердить">
                    </form>
                </div>

            </div>
        </div>

        <div>
            <div class="title">Фото</div>

            <div class="grid_block_photo">
                {% set path = "images/service/" + service.id|string + ".png" %}
                <div><img src="{{ url_for("static", filename=path) }}" alt="" class="image"></div>

                <div class="input__wrapper">
                    <input type="file" name="block_photo" id="photo" class="input input__file" multiple>
                    <label for="block_photo" class="button">
                        <span class="input__file_button">Изменить</span>
                    </label>
                </div>
                <div class="input__wrapper" id="delete_photo">
                    <label for="block_photo" class="button">
                        <span class="input__file_button">Удалить</span>
                    </label>
                </div>

                <div class="checkbox"></div>
            </div>

        </div>
    </div>

{% endblock %}
