{% extends "admin_panel/base.html" %}

{% block scripts %}
    <link rel="stylesheet" href="{{ url_for('static', filename='admin_panel/category_create.css') }}">
{% endblock %}

{% block app_content %}
    {{ ckeditor.load() }}

    <form class="form" method="post" action="{{ url_for('admin_panel.service_create') }}">
        <div class="form_container">

            <label for="file">Фото</label>
            <input type="file" name="photo" id="photo">

            <label for="title">Название</label>
            <input type="text" name="title" id="title" placeholder="Название">

            <label for="short_description">Краткое описание</label>
            <textarea name="short_description" id="short_description" autocomplete="off"
                      placeholder="Краткое описание" cols="50" rows="20"></textarea>

            <div class="grid_checkbox">
                <label for="next">С Подробнее</label>
                <input type="checkbox" id="next" class="checkbox" name="next">

            </div>

            <label for="description">Описание</label>
            <textarea name="description" id="description" autocomplete="off"
                      placeholder="Описание" cols="50" rows="20"></textarea>

            <div class="grid_block_price">

                <input type="text" name="price" id="input_price" class="little_input"
                       value="">
                руб /
                <input type="text" name="price_time" id="input_price_time" class="little_input"
                       value="">
            </div>

            <label for="select">Категории</label>

            <div class="grid_category">
                {% for categories in categories %}

                    <label for="category" class="label_1">{{ categories.name }}</label>
                    <input type="checkbox" id="category" class="checkbox"
                           name={{ categories.id }}  value={{ categories.id }}
                            {{ "checked" if categories.id == categories_checked[categories.id] else "" }}>

                {% endfor %}
            </div>


            <input type="submit" value="Создать">
        </div>

    </form>

    {{ ckeditor.config(name='short_description') }}
    {{ ckeditor.config(name='description') }}

{% endblock %}
