{% extends "admin_panel/base.html" %}

{% block scripts %}
    <link rel="stylesheet" href="{{ url_for('static', filename='admin_panel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin_panel_phone.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='service/service.js') }}"></script>


{% endblock %}

{% block app_content %}
    {{ ckeditor.load() }}

    <div class="grid_panel">

        <div class="grid_block partners_map">



            <form method="POST" enctype="multipart/form-data" class="grid_block">


                <label for="title">Название услуги</label>
                <input type="text" name="title" id="title" class="little_input"
                       value="{{ service.name }}">

                <label for="input_short_desc">Краткое описание</label>
                <textarea name="input_short_desc" id="input_short_desc" class="category_name"
                >{{ service.short_description|safe }}</textarea>

                <label for="input_price">Цена</label>

                <div class="grid_block_price">

                <input type="text" name="input_price" id="input_price" class="little_input"
                       value="{{ service.price }}">
                <span>руб</span>
                <input type="text" name="input_price_time" id="input_price_time" class="little_input"
                       value="{{ service.time }}">
                </div>

                <label for="select">Категории</label>

                <div class="grid_category">
                    {% for categories in categories %}

                        <label for="category" class="label_1">{{ categories.name }}</label>
                        <input type="checkbox" id="category" class="checkbox"
                               name={{ categories.id }}  value={{ categories.id }}
                                {{ "checked" if categories.id == categories_checked[categories.id] else "" }}>

                    {% endfor %}
                </div>

                <div class="grid_checkbox">

                    <label for="checkbox_1">С Подробнее</label>
                    <input type="checkbox" id="checkbox_1" class="checkbox" name="checkbox" value="1" {{ "checked" if
                        service.next else "" }}/>

                </div>

                <label for="input_desc">Описание</label>
                <textarea name="input_desc" id="input_desc" class="category_name"
                >{{ service.description|safe }}</textarea>

                <div class="title">Фото</div>
                <div class="grid_block_photo">

                    {% set path = "images/service/" + service.id|string + ".png" %}
                    {% if files %}
                    <div class="block_image"><img src="{{ url_for("static", filename=path) }}" alt=""
                                                  class="image">
                    </div>
                    {% endif %}

                    <div class="input__wrapper">
                        <input type="file" name="change" id="photo" class="input__file" value="Изменить">
                        <label for="photo" class="input__file_button">
                            <span class="input__file_button_text_2">Изменить</span>
                        </label>
                    </div>
                    <div class="input__wrapper">
                        <input type="submit" class="input__file" id="delete_photo" name="delete" value="Удалить">
                        <label for="delete_photo" class="input__file_button">
                            <span class="input__file_button_text_2">Удалить</span>
                        </label>
                    </div>

                </div>
                <div class="input__wrapper">
                    <input type="submit" id="Submit" value="Подтвердить" class="input__file">
                    <label for="Submit" class="input__file_button">
                        <span class="input__file_button_text_2">Сохранить</span>
                    </label>
                </div>

            </form>

        </div>
        {{ ckeditor.config(name='input_short_desc') }}
        {{ ckeditor.config(name='input_desc') }}

    </div>

{% endblock %}
