{% extends "main/base.html" %}


{% block app_content %}
    <script>    /*Этот скрипт был написан только для теста развертки и работает не совсем правильно*/
    $(function () {
        $(".content").click(function () {
            $(".description").toggleClass('active')
        });
    });
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='about/about.css') }}">
    <div class="container">
        <div class="data">
        {{ about }}
        </div>
    </div>
    {% for employee in employees%}
    {{ employee.name }}


    </div>

{% endblock %}