{% extends "main/base.html" %}

{% block app_content %}

    <link rel="stylesheet" href="{{ url_for('static', filename='about/about.css') }}">

    <h2 class="title_about">О нас</h2>

    <!--Философия-->
    <div class="block_fil">{{ filosofi.text }}</div>

    <!--Партнёры-->
    <h2 class="title_about">Партнёры</h2>
    <div class="block_img_block">
        {% for partner in partners %}
        <a href="#">
            <div class="block_img_partners">
                <img src="{{ url_for('static/', filename='partner/' + partner.id|string + '.png') }}"
                     width="244px" height="240px">
            </div>
        </a>
        {% endfor %}
    </div>

    <!--Что есть-->
    <h2 class="title_about">Что есть</h2>
    <div class="block_fil">{{ about.text }}</div>

    <!--Сотрудники-->
    <h2 class="title_about">Сотрудники</h2>
    <div class="block_employees_block">
        {% for employee in employees %}
        <figure class="block_employees">
            <img src="{{ url_for('static/', filename='employee/' + employee.id|string + '.png') }}"
                 width="244px" height="240px">
            <figcaption>
                <div class="name_employees">{{ employee.name }}</div>
            </figcaption>
            <figcaption>
                <div class="position_employees">{{ employee.position }}</div>
            </figcaption>
        </figure>
        {% endfor %}
    </div>

{% endblock %}