{% extends "main/base.html" %}

{% block scripts %}
    <link id="style" rel="stylesheet" href="{{ url_for('static', filename='about/about.css') }}">
    <script src="{{ url_for('static', filename='about/about.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='gallery/gallery.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css"/>
{% endblock %}

{% block app_content %}
    <div class="container_max desktop_container">
        <div class="map_img_container">
            <a class="gallery" data-fancybox="gallery" href="{{ url_for("static", filename='images/staff/map_about.jpg') }}">
                <img class="rounded"
                     src="{{ url_for("static", filename='images/staff/map_about.jpg') }}"
                     alt="Карта"/>
            </a>
        </div>
        <div class="block">

            <div class="title">Философия</div>
            <div class="text">{{ about.text|safe }}</div>
        </div>

        <div class="block">
            <div class="title">О нас</div>
            <div class="text">{{ filosofi.text|safe }}</div>
        </div>

        <div class="block">
            <div class="title">Инфраструктура</div>
            <div class="text">{{ structure.text|safe }}</div>
        </div>

        <!--Партнёры-->
        <div class="container_about">
            <div class="title">Партнёры</div>
            <div class="grid_block">
                {% for partner in partners %}
                    <div class="img_block">
                        <a href="{{ partner.link }}">
                            <img src="{{ url_for('static', filename='images/partner/' + partner.id|string + '.jpg') }}"
                                 alt="{{ partner.name }}" class="partner img">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}