<!DOCTYPE html>
<html id="html" lang="ru">
<head id="head">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="{{ url_for('static', filename='preloader.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main/main.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename="favicon.ico") }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='slider.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='contacts/contacts.css') }}">
    {% block link %}{% endblock %}

    <script defer src="{{ url_for('static', filename='plugins/jquery.min.js') }}"></script>
    {#    <script defer src="{{ url_for('static', filename='plugins/hammer.min.js') }}"></script>#}
    <script defer src="https://ajax.googleapis.com/ajax/libs/hammerjs/2.0.8/hammer.min.js"></script>
    <script src="{{ url_for('static', filename='plugins/mobile-detect.min.js') }}"></script>
    <script defer src="{{ url_for('static', filename='base.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='modal_window.js') }}"></script>
    {% block scripts %}{% endblock %}

    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Т-Парк</title>
    {% endif %}
</head>

<body id="body">

<div>
    <div id="loader" class="loader_container">
        <div class="loader"></div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        setTimeout(function () {
            let loader = $('#loader')
            loader.animate({'opacity': '0'}, 500)
            setTimeout(function () {
                loader.css('display', 'none')
            }, 500)
        }, 800)
    })

    let loader = document.getElementById('loader')
    loader.offsetTop = 0
</script>

{% set geolocation = contacts_data.geolocation %}
{% set address = contacts_data.address %}
{% set phone_numbers = contacts_data.phone_numbers %}
{% set vk = contacts_data.media[0] %}
{% set telega = contacts_data.media[1] %}

<div id="container_base" class="container_base">
    <div id="upper_container" class="upper_container">
        <div id="upper" class="upper">
            <div id="mobile_upper" class="mobile_upper">
                <div id="upper_buttons" class="upper_buttons">
                    <div class="upper_main" data-modal-window-toggle="#services-modal-win">
                        <div class="burger_container">
                            <div class="menu-btn" style="opacity: 0;">
                                <i class="fa fa-bars fa-inverse fa-2x"></i>
                            </div>
                        </div>
                        <div class="menu-btn menu-btn-visible">
                            <i class="fa fa-bars fa-inverse fa-2x"></i>
                        </div>
                    </div>


                    <div>
                        <div class="">
                            <div class="">
                                <ul class="social-icons-phone">
                                    <li>
                                        <a class="" href="https://vk.com/tparkprotva"
                                           target="_blank">
                                            <span class="fa-stack">
                                                <i class="fa fa-circle fa-inverse fa-stack-2x"></i>
                                                <i class="fab fa-vk fa-stack-1x"></i>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="" href="https://api.whatsapp.com/send?phone=7{{ phone_numbers[0] }}"
                                           target="_blank">
                                            <span class="fa-stack">
                                                <i class="fa fa-circle fa-inverse fa-stack-2x"></i>
                                                <i class="fab fa-whatsapp fa-stack-1x"></i>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="" href="https://t.me/+79953056461"
                                           target="_blank">
                                            <span class="fa-stack">
                                                <i class="fa fa-circle fa-inverse fa-stack-2x"></i>
                                                <i class="fab fa-telegram-plane fa-stack-1x"></i>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div><img id="contacts" class="contact_img" src="{{ url_for("static", filename='contacts.png') }}"
                              alt=""></div>
                </div>

                <div id="services-modal-win" class="modal submenu">
                    <div class="modal-window">
                        <div class="modal-upper">
                            <div class="modal-upper-content">
                                <div>
                                    <a href="{{ url_for('main.index') }}">
                                        <img style="object-fit: cover; height: 20px; filter: invert(1)"
                                             src="{{ url_for('static', filename='home.svg') }}" alt="">
                                    </a>
                                </div>
                                <div>Меню</div>
                                <div>
                                    <a href="" onclick="history.back(); return false">
                                        <img style="object-fit: cover; height: 20px; filter: invert(1)"
                                             src="{{ url_for('static', filename='back.svg') }}" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="modal-content">
                            <div class="modal-item submenu-item">
                                <a class="modal-link"
                                   href="{{ url_for('main.index') }}">
                                    Услуги
                                </a>
                            </div>
                            <div class="modal-item submenu-item">
                                <a class="modal-link"
                                   href="{{ url_for('main.events') }}">
                                    События
                                </a>
                            </div>
                            <div class="modal-item submenu-item">
                                <a class="modal-link"
                                   href="{{ url_for('main.reviews') }}">
                                    Отзывы
                                </a>
                            </div>
                            <div class="modal-item submenu-item">
                                <a class="modal-link"
                                   href="{{ url_for('main.about') }}">
                                    О нас
                                </a>
                            </div>
                            <div class="modal-item submenu-item">
                                <a class="modal-link"
                                   href="{{ url_for('main.gallery') }}">
                                    Фотоальбом
                                </a>
                            </div>
                            <div class="modal_logo">
                                <img id="modal_logo" class="img_logo img_logo_modal"
                                     src="{{ url_for('static', filename='modal_logo4.png') }}" alt="">


                            </div>
                        </div>


                    </div>
                    <div class="overlay"></div>
                </div>
            </div>

            <div class="desktop_upper">
                <div id="block_logo" class="block_logo">
                    <a href="{{ url_for('main.index') }}">
                        <img id="logo" class="img_logo" src="{{ url_for('static', filename='logo.png') }}" alt="">
                    </a>
                </div>

                <div class="upper_media">
                    <div class="social">
                        <ul class="social-icons">
                            <li>
                                <a class="vk modal-link" href="{{ vk }}" target="_blank">
                                    <i class="fab fa-vk" style="margin-top: 4px;"></i>
                                </a>
                            </li>
                            <li>
                                <a class="whatsapp modal-link"
                                   href="https://api.whatsapp.com/send?phone=7{{ phone_numbers[0] }}"
                                   target="_blank">
                                    <i class="fab fa-whatsapp" style="margin-top: 3px;"></i>
                                </a>
                            </li>
                            <li>
                                <a class="telega modal-link" href="https://t.me/+79953056461"
                                   target="_blank">
                                    <i class="fab fa-telegram-plane" style="margin-top: 4px; margin-left: -3px;"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div id="phone_numbers2" class="block_numbers_2">
                        <div>
                            <a style="cursor: pointer;" href="tel:+7{{ phone_numbers[0] }}">
                                8-{{ phone_numbers[0][0]|string + phone_numbers[0][1]|string + phone_numbers[0][2]|string }}-{{ phone_numbers[0][3]|string + phone_numbers[0][4]|string + phone_numbers[0][5]|string }}-{{ phone_numbers[0][6]|string + phone_numbers[0][7]|string }}-{{ phone_numbers[0][8]|string + phone_numbers[0][9]|string }}
                            </a>
                        </div>
                        <div>
                            <a style="cursor: pointer;" href="tel:+7{{ phone_numbers[1] }}">
                                8-{{ phone_numbers[1][0]|string + phone_numbers[1][1]|string + phone_numbers[1][2]|string }}-{{ phone_numbers[1][3]|string + phone_numbers[1][4]|string + phone_numbers[1][5]|string }}-{{ phone_numbers[1][6]|string + phone_numbers[1][7]|string }}-{{ phone_numbers[1][8]|string + phone_numbers[1][9]|string }}
                            </a>
                        </div>
                    </div>
                </div>

                <div class="block_name">
                    <div>Тренинг-Парк</div>
                    <div>Дмитрия Сергеева</div>
                </div>


            </div>
        </div>
    </div>


    <div id='upper_navigation_buttons' class="upper_navigation_buttons">
        <div id='navigation_buttons' class="block_buttons">
            <div id="all_buttons" style="display: flex;">
                <a id="services-button" class="button_main  decoration"
                   href="{{ url_for('main.index') }}">
                    <div href="{{ url_for('main.index') }}" class="">
                        Услуги
                    </div>
                </a>
                <a id="event-button" class="button_main button_main_middle_left decoration"
                   href="{{ url_for('main.events') }}">
                    <div href="{{ url_for('main.events') }}" class="">
                        События
                    </div>
                </a>
                <a id="about-us-button" class="button_main button_main_middle decoration"
                   href="{{ url_for('main.about') }}">
                    <div href="{{ url_for('main.about') }}" class="">
                        О нас
                    </div>
                </a>

                <a id="comments-button" class="button_main button_main_middle_right decoration"
                   href="{{ url_for('main.reviews') }}">
                    <div href="{{ url_for('main.reviews') }}" class="">
                        Отзывы
                    </div>
                </a>
                <a id="photo-button" class="button_main decoration"
                   href="{{ url_for('main.gallery') }}">
                    <div href="{{ url_for('main.gallery') }}" class="">
                        Фотоальбом
                    </div>
                </a>
            </div>
        </div>
    </div>


    <div id="main_block" class="main_block">
        <div id="phone_numbers" class="block_numbers">
            <a style="cursor: pointer;" href="tel:+7{{ phone_numbers[0] }}">
                8-{{ phone_numbers[0][0]|string + phone_numbers[0][1]|string + phone_numbers[0][2]|string }}-{{ phone_numbers[0][3]|string + phone_numbers[0][4]|string + phone_numbers[0][5]|string }}-{{ phone_numbers[0][6]|string + phone_numbers[0][7]|string }}-{{ phone_numbers[0][8]|string + phone_numbers[0][9]|string }}

            </a>
            <a style="cursor: pointer;" href="tel:+7{{ phone_numbers[1] }}">
                8-{{ phone_numbers[1][0]|string + phone_numbers[1][1]|string + phone_numbers[1][2]|string }}-{{ phone_numbers[1][3]|string + phone_numbers[1][4]|string + phone_numbers[1][5]|string }}-{{ phone_numbers[1][6]|string + phone_numbers[1][7]|string }}-{{ phone_numbers[1][8]|string + phone_numbers[1][9]|string }}
            </a>
        </div>

        <div id="block_logo" class="block_logo block_logo_phone">
            <div>
                <a href="{{ url_for('main.index') }}">
                    <img id="logo" class="img_logo" src="{{ url_for('static', filename='logo_2.png') }}" alt="">
                </a>
            </div>
        </div>

        {% block app_content %}{% endblock %}
    </div>


    <div style="margin: auto 17px;">
        <div id="back_button" class="back_button">
            <div class="back_button_btn">
                <a style="" onclick="history.back(); return false;">
                    <img src="{{ url_for('static', filename='back.svg' ) }}" class="back_button_img" alt="">
                </a>
            </div>
        </div>
    </div>


    <div style="margin:  auto 17px;">
        <div id="back_button_2" class="back_button_3">
            <div class="back_button_btn_2">
                <a style="" onclick="history.back(); return false;">
                    Назад
                </a>
            </div>
        </div>
    </div>


</div>


<div id="footer" class="footer">© 2021</div>

</body>
</html>
