{% extends "main/base.html" %}

{% block scripts %}
    <link rel="stylesheet" href="{{ url_for('static', filename='category/category.css') }}">

    <script type="text/javascript" src="{{ url_for('static', filename='slider.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='category/category.js') }}"></script>
{% endblock %}

{% block app_content %}

    <h1>{{ category.name |safe }}</h1>
    <div class="container">
        <div class="data">
            {% set path = url_for('static',filename='/images/staff/1.png') %}
            <div class="block_slider">
                <div class="slider">
                    <div class="slider__container">
                        <div class="slider__wrapper">
                            <div class="slider__items">
                                {% for i in range(3) %}
                                    <div class="slider__item">
                                        <img class="slider__img" alt=""
                                             src={{path}}>
                                    </div>
                                    <div class="slider__item">
                                        <img class="slider__img" alt=""
                                             src="{{ url_for('static',filename='/images/staff/2.png' ) }}">
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <a class="slider__control slider__control_prev" href="#" role="button" data-slide="prev"></a>
                    <a class="slider__control slider__control_next" href="#" role="button" data-slide="next"></a>
                </div>
            </div>
        </div>

        <div class="category_description">
            <div class="text">
                {{ category.description |safe if category.description |safe }}
            </div>
        </div>

        <div id="buttons" class="buttons">
            {% for element in services %}
                {% set service = element.service %}
                {% if service.status == true %}
                    <div id="{{ service.id }}" class="button" status="0"
                         style="cursor: {% if service.short_description != None %}pointer{% else %}default{% endif %}">
                        <div class="content">
                            <div class="price">
                                <div>{{ service.name }}</div>
                                <div class="cost" style="display: flex;">
                                    <div id="prices{{ service.name }}"></div>
                                    {% if service.short_description %}
                                        <img class="price_switch" src="{{ url_for('static', filename='down.svg') }}"
                                             alt="">
                                    {% endif %}
                                    <script>
                                        x = document.getElementById('prices{{ service.name }}')
                                        x.innerHTML = `{{ service.prices[0] }}`
                                        x.innerHTML = x.textContent
                                    </script>
                                </div>
                            </div>
                            {% if service.short_description %}
                                <div class="description">
                                    {% if service.short_description != None %}
                                        {{ service.short_description }}
                                    {% endif %}
                                    <br>
                                    <div class="more">
                                        <div>
                                            <a class='detailed'
                                               href="{{ url_for('main.service') }}?service_id={{ service.id }}">
                                                Подробнее...
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}