{% extends "main/base.html" %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='slider.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='category/category.css') }}">

    <script type="text/javascript" src="{{ url_for('static', filename='category/category.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='slider.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='event/event.css') }}">

    <style>
        a:-webkit-any-link {
            cursor: inherit;
        }
    </style>
{% endblock %}

{% block app_content %}

    <div class="category_title">{{ category.name |safe }}</div>

    <div class="container">
        {% if photo %}
            <div class="data">
                <div class="block_slider">
                    <div class="slider">
                        <div class="slider__container">
                            <div class="slider__wrapper">
                                <div class="slider__items" id="event_items">
                                    {% if files|length < 3 %}
                                        {% for i in range(3) %}
                                            {% for photo in files %}
                                                <div class="slider__item">
                                                    <img class="slider__img" alt=""
                                                         src="{{ url_for('static',filename='/images/category/' + category.id|string  + '/' + photo) }}">
                                                </div>
                                            {% endfor %}
                                        {% endfor %}
                                    {% else %}
                                        {% for photo in files %}
                                            <div class="slider__item">
                                                <img class="slider__img" alt=""
                                                     src="{{ url_for('static',filename='/images/category/' + category.id|string  + '/' + photo) }}">
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% if files|length > 1 %}
                            <button class="slider__control slider__control_prev carousel__button_2 is-prev" href="#"
                                    role="button" data-slide="prev" tabindex="0">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" tabindex="-1">
                                    <path d="M15 3l-9 9 9 9"></path>
                                </svg>
                            </button>
                            <button class="slider__control slider__control_next carousel__button_2 is-next" href="#"
                                    role="button" data-slide="next" tabindex="0">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" tabindex="-1">
                                    <path d="M9 3l9 9-9 9"></path>
                                </svg>
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="category_description">
            <div class="text">
                {{ category.description |safe if category.description }}
            </div>
        </div>

        <div id="buttons" class="buttons">
            {% for element in services %}
                {% set service = element.service %}
                {% if service.status == true %}
                    {% if service.next %}
                        <a class='button' href="{{ url_for('main.service') }}?service_id={{ service.id }}"
                           style="text-decoration: none; color: black;">
                    {% endif %}
                <div id="{{ service.id }}" class="{% if not service.next %}button{% endif %}" status="0"
                     style="cursor: {%- if service.short_description or service.next -%}pointer{% else %}default{% endif %}">
                    <div class="content">
                        <div class="price">
                            <div>{{ service.name }}</div>
                            <div class="cost" style="display: flex;">
                                <div id="prices{{ service.id }}"></div>
                                {% if service.next %}
                                    <img class="price_switch next_switch" style="transform: rotate(-90deg)"
                                         src="{{ url_for('static', filename='down.svg') }}"
                                         alt="">
                                {% elif service.short_description %}
                                    <img class="plus_switch"
                                         src="{{ url_for('static', filename='plus.svg') }}"
                                         alt="">
                                {% endif %}
                                <script>
                                    x = document.getElementById('prices{{ service.id }}')
                                    x.innerHTML = `{{ service }}`
                                    x.innerHTML = x.textContent
                                </script>
                            </div>
                        </div>
                        {% if service.short_description and not service.next %}
                            <div class="description">
                                {% if service.short_description != None and service.short_description %}
                                    {{ service.short_description|safe }}
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% if service.next %}
                    </a>
                {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}