{% extends "main/base.html" %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='comments/comments.js') }}"></script>
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='comments/comments.css') }}">
{% endblock %}

{% block app_content %}

    <div class="desktop_container">
        <div>
            <div class="com_title">Прочтите, что говорят наши посетители</div>
            <div class="comments_container">
                {% for comment in comments %}
                    <div class="comment">
                        <div>{{ comment.text }}</div>
                        {% set x = '../../..' + url_for('static', filename='images/employee/1.png') %}
                        <div class="img_and_name">
                            <div style="width: 50px; height: 50px; background-size: 50px; object-fit: cover; border-radius: 50%; background-position: 50% 50%;
                            background-image: url({{ x }});
                            background-repeat: no-repeat"></div>
                            <div>{{ comment.name }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}