{% extends "main/base.html" %}

{% block app_content %}

    <link id="style" rel="stylesheet" href="{{ url_for('static', filename='contacts/contacts.css') }}">
    <link id="style" rel="stylesheet" href="{{ url_for('static', filename='service/service_desktop.css') }}">
    <link id="style" rel="stylesheet" href="{{ url_for('static', filename='about/about.css') }}">
    <script src="{{ url_for('static', filename='about/about.js') }}"></script>
    {% set geolocation = contacts_data.geolocation %}
    {% set address = contacts_data.address %}
    {% set phone_numbers = contacts_data.phone_numbers %}

    <div class="">
        {% set path = "images/staff/" + "map" + ".jpg" %}

        <div class="category_title">Контакты</div>
        <div class="img_bloc"><img alt="" src="{{ url_for("static", filename=path) }}" class="img_service"></div>


        <div class="block">
            <div class="text">{{ filosofi.text|safe }}</div>
        </div>

        <div class="block_2">
            <div class="block_inf">
                {% set path = "images/staff/" + "geo" + ".png" %}
                <div class="title_2">Адрес</div>
                <div class="block_inside">
                    <div class="block_adress">Россия, Калужская область, Жуковский район, сельское поселение Село
                        Восход, село санатория Восход, 249250
                    </div>
                    <div class="block_geo">
                        <a href="{{ geolocation }}" class="geo">
                            <img alt="" src="{{ url_for("static", filename=path) }}" class="geo">
                        </a>
                    </div>
                </div>


            </div>
            <div class="block_inf">
                {% set path = "images/staff/" + "geo" + ".png" %}
                <div class="title_2">Номера и мессенджеры</div>
                <div class="block_inside">
                    <div id="" class="block_numbers">
                        <div>
                            <a style="cursor: pointer;" href="tel:+7{{ phone_numbers[0] }}">
                                8-{{ phone_numbers[0][0]|string + phone_numbers[0][1]|string + phone_numbers[0][2]|string }}-{{ phone_numbers[0][3]|string + phone_numbers[0][4]|string + phone_numbers[0][5]|string }}-{{ phone_numbers[0][6]|string + phone_numbers[0][7]|string }}-{{ phone_numbers[0][8]|string + phone_numbers[0][9]|string }}
                            </a>
                        </div>
                        <div>
                            <a style="cursor: pointer;" href="tel:+7{{ phone_numbers[1] }}">
                                8-{{ phone_numbers[1][0]|string + phone_numbers[1][1]|string + phone_numbers[1][2]|string }}-{{ phone_numbers[1][3]|string + phone_numbers[1][4]|string + phone_numbers[1][5]|string }}-{{ phone_numbers[1][6]|string + phone_numbers[1][7]|string }}-{{ phone_numbers[1][8]|string + phone_numbers[1][9]|string }}
                            </a>
                        </div>
                        <div>
                            <a style="cursor: pointer;" href="tel:+7{{ phone_numbers[1] }}">
                                8-{{ phone_numbers[2][0]|string + phone_numbers[2][1]|string + phone_numbers[2][2]|string }}-{{ phone_numbers[2][3]|string + phone_numbers[2][4]|string + phone_numbers[2][5]|string }}-{{ phone_numbers[2][6]|string + phone_numbers[2][7]|string }}-{{ phone_numbers[2][8]|string + phone_numbers[2][9]|string }}
                            </a>
                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>


    </div>

{% endblock %}