{% extends "main/base.html" %}

{% block app_content %}

    <link id="style" rel="stylesheet" href="{{ url_for('static', filename='contacts/contacts.css') }}">
    <link id="style" rel="stylesheet" href="{{ url_for('static', filename='about/about.css') }}">
    <script src="{{ url_for('static', filename='about/about.js') }}"></script>


    <div class="container_max">
        <div class="block_2">
            <div class="title">Контакты</div>
            <div class="img_block">{{ contacts.map|safe }}</div>
        </div>

        <div class="block">
            <div class="text">{{ filosofi.text|safe }}</div>
        </div>

        <div class="block">
            <div class="block_info">
                <div class="title_2">Адрес</div>
                <div class="block_inside">
                    Село санатория Восход, Калужская обл., Россия, 249250
                </div>
                <div class="block_inside" href="https://goo.gl/maps/NwkTB7jW9j1fGsf27"><img src=""></div>
            </div>


        </div>


    </div>

{% endblock %}