{% extends "main/base.html" %}

{% block app_content %}

    <link id="style" rel="stylesheet" href="{{ url_for('static', filename='contacts/contacts.css') }}">
    <link id="style" rel="stylesheet" href="{{ url_for('static', filename='service/service.css') }}">
    <link id="style" rel="stylesheet" href="{{ url_for('static', filename='about/about.css') }}">
    <script src="{{ url_for('static', filename='about/about.js') }}"></script>
    {% set geolocation = contacts_data.geolocation %}
    {% set address = contacts_data.address %}
    {% set phone_numbers = contacts_data.phone_numbers %}

    <div class="block_service">
        {% set path = "images/staff/" + "map" + ".jpg" %}
        <div class="block_2">
            <div class="title">Контакты</div>
            <div class="block_img"><img alt="" src="{{ url_for("static", filename=path) }}"></div>
        </div>

        <div class="block">
            <div class="text">{{ filosofi.text|safe }}</div>
        </div>

        <div class="block">
            <div class="block_info">
                {% set path = "images/staff/" + "geo" + "png" %}
                <div class="title_2">Адрес</div>
                <div class="block_inside">
                    Село санатория Восход, Калужская обл., Россия, 249250
                </div>
                <div class="block_inside" href="{ geolocation }">
                    <img alt="" src="{{ url_for("static", filename=path) }}">
                </div>
            </div>

        </div>


    </div>

{% endblock %}