{% extends "main/base.html" %}

{% block scripts %}
    <link rel="stylesheet" href="{{ url_for('static', filename='gallery/gallery.css') }}">

    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css"/>
{% endblock %}

{% block app_content %}
    <div class="desktop_container">
        <div class="content">
            <div class="main">
                <div class="category_title">Фотоальбом</div>
                <div class="list">
                    {% for image in images %}
                        <div>
                            {% set path = "images/gallery/" + image %}
                            <a data-fancybox="gallery" href="{{ url_for("static", filename=path) }}">
                                <img class="rounded" src="{{ url_for("static", filename=path) }}"/>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}