{% extends "main/base.html" %}

{% block app_content %}

    <script type="text/javascript>" src="{{ url_for('static', filename='slider.js') }}"></script>


    <div id='navigation_buttons' class="block_">
        <!--Модальное окно для Услуг-->
        <div id="modalWin" class="modal" data-modal-window-toggle="#modalWin">
            <div class="modal-window">
                <h1>Категория услуг</h1>
            </div>
            <!--конец модального окна услуг-->
    <div class="block_buttons">
            <div class="button_main" data-modal-window-toggle="#modalWin">Услуги</div>
                <div class="button_main"><label for="button_main"></label>О нас</div>
                <div class="button_main"><label for="button_main"></label>Контакты</div>
        </div>
        </div>
    </div>
    <!--Слайдер-->
    <div class="block_slider">
        <div class="slider">
            <div class="slider__container">
                <div class="slider__wrapper">
                    <div class="slider__items">
                        <div class="slider__item">
                            <!-- Контент 1 слайда -->
                            1
                        </div>
                        <div class="slider__item">
                            <!-- Контент 2 слайда -->
                            2
                        </div>
                        <div class="slider__item">
                            <!-- Контент 3 слайда -->
                            3
                        </div>
                        <div class="slider__item">
                            <!-- Контент 4 слайда -->
                            4
                        </div>
                    </div>
                </div>
            </div>

            <!-- Стрелки для перехода к предыдущему и следующему слайду -->
            <a class="slider__control slider__control_prev" href="#" role="button" data-slide="prev"></a>
            <a class="slider__control slider__control_next" href="#" role="button" data-slide="next"></a>
        </div>
    </div>


    <div class="block_content">
        texttexttexttexttexttexttexttexttexttext
        texttexttexttexttexttexttexttexttexttext
        texttexttexttexttexttexttexttexttexttext
        texttexttexttexttexttexttexttexttexttext
        texttexttexttexttexttexttexttexttexttext
        texttexttexttexttexttexttexttexttexttext
        texttexttexttexttexttexttexttexttexttext
        texttexttexttexttexttexttexttexttexttext
        texttexttexttexttexttexttexttexttexttext
        texttexttexttexttexttexttexttexttexttext
        texttexttexttexttexttexttexttexttexttext
        texttexttexttexttexttexttexttexttexttext
        texttexttexttexttexttexttexttexttexttext
        texttexttexttexttexttexttexttexttexttext
        texttexttexttexttexttexttexttexttexttext
        texttexttexttexttexttexttexttexttexttext
    </div>


{% endblock %}
