{% extends "main/base.html" %}

{% block app_content %}

    <div class="block_buttons">
        <input type="button" value="Услуги" class="button_main">
        <input type="button" value="Контакты" class="button_main">
        <input type="button" value="О Нас" class="button_main">
    </div>
    <div class="block_slider">
        <div class="slider">
            <div class="slider__container">
            <div class="slider_wrapper">
                <div class="slider_items">
                    <div class="slider_item">
                        <!-- Контент 1 слайда -->
                    </div>
                    <div class="slider_item">
                        <!-- Контент 2 слайда -->
                    </div>
                    <div class="slider_item">
                        <!-- Контент 3 слайда -->
                    </div>
                    <div class="slider_item">
                        <!-- Контент 4 слайда -->
                    </div>
                </div>
            </div>
            </div>
            <!-- Стрелки для перехода к предыдущему и следующему слайду -->
            <a class="slider__control slider__control_prev" href="#" role="button" data-slide="prev"></a>
            <a class="slider__control slider__control_next" href="#" role="button" data-slide="next"></a>
        </div>
    </div>

    <div class="block_content">
        texttexttexttexttexttexttexttexttexttexttext
        texttexttexttexttexttexttexttexttexttext
        texttexttexttexttexttexttexttexttexttext
        texttexttexttexttexttexttexttexttexttext

    </div>


{% endblock %}

