{% extends "main/base.html" %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='slider.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='modal_window.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const slider = new ChiefSlider('.slider', {
                loop: true,
                autoplay: true,
                interval: 4000,
            });
            const slider_2 = new ChiefSlider('.slider', {
                loop: true,
            });
        });
    </script>
{% endblock %}

{% block app_content %}
    <div id='navigation_buttons' class="block_buttons">
        <!--Модальные окна для -->
        <div id="services-modal-win" class="modal">
            <div class="modal-window">
                {% for i in range(100) %}
                    <div>Категория услуг {{ i }}</div>
                {% endfor %}
                <button class="btn-close-modal-window" data-modal-window-toggle="#services-modal-win">X</button>
            </div>

            <div class="overlay"></div>
        </div>
        <div id="contacts-modal-win" class="modal">
            <div class="modal-window">
                {% for i in range(100) %}
                    <div>Категория услуг {{ i }}</div>
                {% endfor %}
                <button class="btn-close-modal-window" data-modal-window-toggle="#contacts-modal-win">X</button>
            </div>

            <div class="overlay"></div>
        </div>
        <!--конец модальных окон-->

        <div id="services-button" class="button_main" data-modal-window-toggle="#services-modal-win">Услуги</div>
        <div class="button_main">О нас</div>
        <div class="button_main" data-modal-window-toggle="#contacts-modal-win">Контакты</div>

    </div>

    <!--Слайдер-->
    <div class="block_slider">
        <div class="slider">
            <div class="slider__container">
                <div class="slider__wrapper">
                    <div class="slider__items">
                        {% for i in range(3) %}
                            <div class="slider__item">
                                <img class="slider__img" alt=""
                                     src="{{ url_for('static',filename='/images/staff/1.png' ) }}">
                            </div>
                            <div class="slider__item">
                                <img class="slider__img" alt=""
                                     src="{{ url_for('static',filename='/images/staff/2.png' ) }}">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <!-- Стрелки для перехода к предыдущему и следующему слайду -->
            <a class="slider__control slider__control_prev" href="#" role="button" data-slide="prev"></a>
            <a class="slider__control slider__control_next" href="#" role="button" data-slide="next"></a>
        </div>
    </div>

    <div class="block_content">
        {{ main_text }}
    </div>


    <div class="events">
        <div class="block_slider">
            <div class="slider">
                <div class="slider__container">
                    <div class="slider__wrapper">
                        <div class="slider__items">
                            {% for event in events %}
                                {% set path = "static/images/events/" + event.id + ".jpg" %}
                                <div class="slider__item">
                                    <!-- Контент 1 слайда -->
                                    <img class="slider__img" alt="" src="{{ url_for('static',filename='path') }}">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <!-- Стрелки для перехода к предыдущему и следующему слайду -->
                <a class="slider__control slider__control_prev" href="#" role="button" data-slide="prev"></a>
                <a class="slider__control slider__control_next" href="#" role="button" data-slide="next"></a>
            </div>
        </div>
    </div>

{% endblock %}
