{% extends "main/base.html" %}

{% block scripts %}

{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='slider.css') }}">
    <style>
        .back_button_3, .back_button {
            display: none;
        }
    </style>
{% endblock %}

{% block app_content %}

    <div class="desktop_container">
        <div id="block_content" class="new_block_content">
            {% for type in types %}
                <section class="main_page_articles">
                    <div class="category_title">{{ type.name }}</div>
                    <div class="page-list">
                        {% for category in type.categories.all() %}
                            {% set category=category.category %}
                            <div>
                                {% set path = "images/category/preview/" + category.id|string + ".jpg" %}
                                <a href="{{ url_for('main.category') }}?category_id={{ category.id }}"
                                   class="image-centered-wrapper">
                                    <img src="{{ url_for("static", filename=path) }}" alt="" class="img_category">
                                    <span class="page-text">{{ category.name }}</span>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </section>
            {% endfor %}
        </div>
    </div>

{% endblock %}
