{% extends "main/base.html" %}


{% block app_content %}
    <script type="text/javascript" src="{{ url_for('static', filename='slider.js') }}"></script>
    <script>    /*Этот скрипт был написан только для теста развертки и работает не совсем правильно*/
    $(function () {
        $(".content").click(function () {
            $(".description").toggleClass('active')
        });
    });
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='O_nas.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='O_nas_slider.css') }}">
    <div class="container">
        <div class="data">
        {{ O_nas }}
        </div>
    </div>
    {% for employee in employees%}
    {{ employee.name }}


    </div>

{% endblock %}