{% extends "main/base.html" %}

{% block app_content %}<!--Шаблон страницы конкретной услуги-->


    <link rel="stylesheet" href="{{ url_for('static', filename='service/service.css') }}">


    <h2 style="text-align:center; margin-top:5px;">{{ service.name }}</h2>


    {% set path = "images/service/" + service.id|string + ".png" %}
    <div class="block_service">


        <div class="block_img"><img src="{{ url_for("static", filename=path) }}" alt="" class="img_service"></div>
        <!--Фото услуги-->

        <div class="block_price">
            {% for price in service.prices %}
                <div class="price">{{ price }}</div>
            {% endfor %}
        </div>


        <div class="">
            <div class="block_text">{{ service.description }}</div><!--Описание услуги-->
        </div>
    </div>



    <script>
        let detect = new MobileDetect(window.navigator.userAgent)
        let link = document.createElement('link')
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.media = 'all';

        if (detect.mobile()) {
            link.href = '/app/static/service/service_mobile.css';
        } else {
            link.href = '/app/static/service/service_desktop.css'
        }

        document.head.append(link)
    </script>

{% endblock %}