{% extends "main/base.html" %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='service/service.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='slider.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='event/event.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='slider.js') }}"></script>
{% endblock %}


{% block app_content %}<!--Шаблон страницы конкретной услуги-->

    <div>
        <div class="category_title"
             {% if not photo %}style="padding-bottom: 0; margin-bottom: -4px;" {% endif %}>{{ service.name }}
        </div>

        <div class="block_service">
            {% if photo %}
                <div class="container">
                    {% if photo %}
                        <div class="data">
                            <div class="block_slider">
                                <div class="slider">
                                    <div class="slider__container">
                                        <div class="slider__wrapper">
                                            <div class="slider__items" id="event_items">
                                                {% if files|length < 3 %}
                                                    {% for i in range(3) %}
                                                        {% for photo in files %}
                                                            <div class="slider__item">
                                                                <img class="slider__img" alt=""
                                                                     src="{{ url_for('static',filename='/images/service/' + service.id|string  + '/' + photo) }}">
                                                            </div>
                                                        {% endfor %}
                                                    {% endfor %}
                                                {% else %}
                                                    {% for photo in files %}
                                                        <div class="slider__item">
                                                            <img class="slider__img" alt=""
                                                                 src="{{ url_for('static',filename='/images/service/' + service.id|string  + '/' + photo) }}">
                                                        </div>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    {% if files|length > 1 %}
                                        <button class="slider__control slider__control_prev carousel__button_2 is-prev"
                                                href="#"
                                                role="button" data-slide="prev" tabindex="0">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" tabindex="-1">
                                                <path d="M15 3l-9 9 9 9"></path>
                                            </svg>
                                        </button>
                                        <button class="slider__control slider__control_next carousel__button_2 is-next"
                                                href="#"
                                                role="button" data-slide="next" tabindex="0">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" tabindex="-1">
                                                <path d="M9 3l9 9-9 9"></path>
                                            </svg>
                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <!--Фото услуги-->
            {% endif %}
            <div class="block_price">
                <div id="price" class="price"></div>
                <script>
                    x = document.getElementById('price');
                    x.innerHTML = `{{ service }}`
                    x.innerHTML = x.textContent
                </script>
            </div>


            <div class="">
                <div class="block_text">
                    <div class="text_inside">{{ service.description|safe }}</div>
                </div><!--Описание услуги-->
            </div>
        </div>

    </div>

    <script>
        let detect = new MobileDetect(window.navigator.userAgent)
        let link = document.createElement('link')
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.media = 'all';

        if (detect.mobile()) {
            link.href = '/app/static/service/service_mobile.css';
        } else {
            link.href = '/app/static/service/service_desktop.css'
        }

        document.head.append(link)
    </script>

{% endblock %}