{% extends "main/base.html" %}

{% block scripts %}
    <link rel="stylesheet" href="{{ url_for('static', filename='admin_panel.css') }}">
{% endblock %}

{% block app_content %}

    <div class="title">Шаблон-пример для админ панели</div>

    <div class="grid_panel">
        <div>
            <div class="title">Текст</div>
            <div class="grid_block">
                <div>{{ service.title }}</div>

                <div>
                    <form>
                        <label for="input_desc">Описание</label>
                        <input type="text" id="input_desc" name="input_desc" value=service.description>
{#                       Хз как, но нужно в значения импута засунуть из бд данные. JS без сомнения, займись этим#}
                        <label for="input_price">Цена</label>
                        <input type="text" id="input_price" name="input_price" value=service.price>
                    </form>
                </div>

            </div>
        </div>

        <div>
            <div class="title">Фото</div>
                <div class="grid_block">
                    {% set path = "images/sevice/" + service.id|string + ".png" %}
                    <div><img src="{{ url_for("static", filename=path) }}" alt="" class=""></div>

                    <div class="input__wrapper">
                        <input type="file" name="block_photo" id="photo" class="input input__file" multiple>
                        <label for="block_photo" class="button">
                            <span class="input__file_button">Изменить</span>
                        </label>
                    </div>
                    <div class="button_delete" id="delete_photo">
                        <label for="block_photo" class="button">
                            <span class="input__file_button">Удалить</span>
                        </label>
                    </div>

                    <div class="checkbox"></div>
                </div>
            {% endfor %}
        </div>
    </div>




{% endblock %}
