{% extends "admin_panel/base.html" %}

{% block scripts %}
    <link rel="stylesheet" href="{{ url_for('static', filename='admin_panel/event_create.css') }}">
{% endblock %}

{% block app_content %}
    {{ ckeditor.load() }}
    <form class="form" method="POST" enctype="multipart/form-data"
          action="{{ url_for('admin_panel.event_edit')}}?event_id={{ event.id }}">
        <div class="form_container">

            <label for="title"></label>
            <input type="text" name="title" id="title" placeholder="Название"
                   value="{{ event.title }}">

            <label for="date"></label>
            <input type="date" name="date" id="date" value="{{ event.date }}">

            <label for="link"></label>
            <input type="text" name="link" id="link" placeholder="Ссылка"
                   value="{{ event.link }}">

            <label for="color" style="display: flex; align-items: center;">
                <div>Цвет текста на фото</div>
                <input type="color" name="color" id="color" value="{{ event.text_color }}">
            </label>

            <label for="description"></label>
            <textarea name="description" id="description" autocomplete="off"
                      placeholder="Описание" cols="50" rows="20">{{ event.description|safe }}
            </textarea>

            <div class="input__wrapper" style="margin-top: 10px;">
                <input type="file" name="change" id="photo" class="input__file" value="Изменить">
                <label for="photo" class="input__file_button">
                    <span class="input__file_button_text_2">Изменить фото</span>
                </label>
            </div>

            <div class="input__wrapper">
                <input name="delete" id="delete" type="submit" value="Сохранить изменения" class="input__file">
                <label for="delete" class="input__file_button">
                    <span class="input__file_button_text_2">Удалить событие</span>
                </label>
            </div>

            <div class="input__wrapper">
                <input name="submit" id="submit" type="submit" value="Сохранить изменения" class="input__file">
                <label for="submit" class="input__file_button">
                    <span class="input__file_button_text_2">Сохранить изменения</span>
                </label>
            </div>
        </div>

    </form>

    {{ ckeditor.config(name='description') }}
{% endblock %}
