{% extends "admin_panel/base.html" %}

{% block scripts %}
    <link rel="stylesheet" href="{{ url_for('static', filename='admin_panel/event_create.css') }}">
{% endblock %}

{% block app_content %}
{{ ckeditor.load() }}
    <form class="form" method="post" action="{{ url_for('admin_panel.event_edit', id=event.id) }}">
        <div class="form_container">

            <img src="" alt="">
            <input type="file" name="photo" id="photo">

            <label for="title"></label>
            <input type="text" name="title" id="title" placeholder="Название"
                   value="{{ event.title }}">

            <label for="date"></label>
            <input type="date" name="date" id="date" value="{{ event.date }}">

            <label for="link"></label>
            <input type="text" name="link" id="link" placeholder="Ссылка"
                   value="{{ event.link }}">

            <label for="description"></label>
            <textarea name="description" id="description" autocomplete="off"
                      placeholder="Описание" cols="50" rows="20">{{ event.description|safe }}
            </textarea>

            <input type="submit" value="Сохранить изменения">
        </div>

    </form>

{{ ckeditor.config(name='description') }}
{% endblock %}
