{% extends "admin_panel/base.html" %}

{% block scripts %}
    <link rel="stylesheet" href="{{ url_for('static', filename='admin_panel/events.css') }}">
{% endblock %}

{% block app_content %}

    <div class="block_event">
        <div class="new_event event">
            <a href="{{ url_for('admin_panel.event_create') }}">Создать новое событие</a>
        </div>
        <div class="events">
            {% for event in events %}
                <div class="event">
                    <a href="{{ url_for('admin_panel.event_edit')}}?event_id={{ event.id }}">
                        <div class="title_event">
                            {{ event.title }}
                        </div>
                        <div class="date">
                            {{ event.date.strftime('%d.%m.%Y') }}
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
