{% extends "admin_panel/base.html" %}

{% block scripts %}
    <link rel="stylesheet" href="{{ url_for('static', filename='admin_panel/event_create.css') }}">
{% endblock %}

{% block app_content %}

    <div>
        <div class="new_event">

        </div>
        <div class="events">
            {% for event in events %}
                <a href="{{ url_for('admin_panel.event_edit', id=event.id )}}">
                    <div class="event">
                        <div class="title">
                            {{ event.title }}
                        </div>
                        <div class="date">
                            {{ event.date }}
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>

{% endblock %}
