@charset "UTF-8";

.comments_container {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
}

.com_title {
    font-size: calc(var(--primary-font-size) * 1.3);
}


.comment {
    font-size: calc(var(--primary-font-size) * 1);
    padding: 20px 18px;
}

