@import url(https://use.fontawesome.com/releases/v5.0.13/css/all.css);

.social-icons-phone {
    display: flex;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    justify-content: center;
    margin: 3px;
}

.social-icons-phone > li {
    margin: 0 5px;
}

.social-icons-phone > li > a {
    color: #767574;
    -moz-transition: opacity .3s;
    -o-transition: opacity .3s;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}

.fa-stack-2x {
    top: 2px;
    font-size: 28px;
}

.fa-telegram-plane {
    /*transform: scale(0.9);*/
    /*left: -1px;*/
    left: -2%;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.social-icons a {
    display: inline-block;
    width: 36px;
    height: 32px;
    border-radius: 50%;
    /*background: #efefef;*/
    position: relative;
    margin: 5px;
    text-align: center;
    /*box-shadow: 0 2px 6px #c1c1c1;*/
    font-size: 28px;
    transition: 0.5s;
}

.social-icons .vk {
    color: #337AB7;
}

.social-icons .whatsapp {
    color: #25d366;
}

.social-icons .telega {
    color: #0088cc;
}

.social-icons a img {
    width: 24px;
    height: 24px;
    margin-top: 14px;
}

.social-icons a i,
.social-icons a img {
    z-index: 2;
    position: relative;
    line-height: 30px;
}

.social-icons a:hover {
    color: #fff;
}

.social-icons a:after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 50%;
    width: 0;
    height: 0;
    transition: 0.3s;
    top: 50%;
    left: 50%;
}

.social-icons .vk:after {
    background: #BFE2FF;
}

.social-icons .insta:after {
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
    radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
    radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
    radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
    linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}

.social-icons .whatsapp:after {
    background: linear-gradient(#25d366, #25d366) 14% 84%/16% 16% no-repeat,
    radial-gradient(#25d366 100%, transparent 0);
}

.social-icons a:hover:after {
    width: 36px;
    height: 32px;
    margin-left: -18px;
}

.social-icons .vk:hover:after {
    background: #337AB7;
}

.social-icons .telega:hover:after {
    background: #0088cc;
radial-gradient(white 100 %, transparent 0);
}

.geolocation a {
    text-decoration: none;
}

.geo {
    width: 60px;
    height: 80px;
    object-fit: cover;
}

.block_2 {
    display: flex;
    justify-content: space-between;
    margin: 6px auto;
    max-width: var(--primary-content-width);
}

.block_inf {
    display: flex;
    flex-direction: column;
    background-color: white;
    /*justify-content: center;*/
    max-width: calc(var(--primary-content-width) * 0.48);
    min-width: calc(var(--primary-content-width) * 0.48);
    min-height: var(--primary-content-height);
}

.block_inside {
    display: flex;


}

.block_adress {
    display: flex;
    align-items: center;
    min-height: calc(var(--primary-content-height) * 0.5);
    margin:  0 0 10px 20px;
}

.block_geo {
    display: flex;
    align-items: center;
    margin: 0 0 14px 0; !important;
}

.img_bloc {
    display:flex;
    height:clamp(100px,40vh, 600px );
    width:clamp(200px,80vw, 960px );
    align-items: center;
    margin: 0  auto 2px;

}

.title_2 {
    display: flex;
    justify-content: flex-start;
    margin: 10px 0 -8px 20px;
    font-size: 24px;
}

.block_numbers {
    display: block; !important;
    /*align-items: flex-end;*/
    padding: 2px;
    font-size: calc(var(--primary-font-size) * 1.2);
    /*width: calc(100%/3);*/
    min-height: calc(var(--primary-content-height) * 0.5);
    margin:  10px 0  10px 20px;



}

.block_numbers > div >a{
    /*align-items: flex-end;*/
    padding: 2px;
    margin: 5px;
    font-size: calc(var(--primary-font-size) * 1.2);
    /*width: calc(100%/3);*/
    overflow: hidden;
    color: #2a4758;
    text-decoration: none;
}

.map_img_container {
    display:flex;
    align-items:center;
    justify-content: center;
    overflow: hidden;
    margin: auto;
    height: min(35vh, 500px);
    width: min(100vw, var(--primary-content-width));
}

.map_img {
    position: relative;
    object-fit: cover;
    max-width: 100%;
}