@charset "UTF-8";

body {
    max-height: 100%;

}
.title {
    margin-bottom: 4px;
}

.grid_block {
    margin: 0 auto 8px;
}

.block {
    margin: 2px auto;
}

.container_about {
    margin: 8px auto;
}

.text {
    position: relative;
    top: -4px;
    width: 100%
}
.desktop_container {
    margin: 0 17px;
}


.img_bloc {
    display:flex;
    height:clamp(100px,40vh, 600px );
    width:clamp(200px,50vw, 600px );
    align-items: center;
    margin: 0 auto 2px;

}
.title_2 {
    display: flex;
    justify-content: flex-start;
    margin: 10px 0 -5px 20px;
    font-size: 24px;
}

.block_numbers_contacts {
    display: block; !important;
    /*align-items: flex-end;*/
    padding: 2px;
    font-size: calc(var(--primary-font-size) * 1.2);
    /*width: calc(100%/3);*/
    min-height: calc(var(--primary-content-height) * 0.5);
    margin:  4px 0  10px 14px;

}

.block_numbers_contacts > div >a{
    /*align-items: flex-end;*/
    padding: 2px;
    margin: 4px;
    font-size: calc(var(--primary-font-size) * 1.3);
    /*width: calc(100%/3);*/
    overflow: hidden;
    color: #2a4758;
    text-decoration: none;
}

.block_inf {
    display: flex;
    background-color: white;
    /*justify-content: center;*/
    min-height: var(--primary-content-height);
    width: 90vw;
    /*margin: 17px 10px;*/
}

.block_inside {
    display: flex;


}

.block_adress {
    display: flex;
    align-items: center;
    min-height: calc(var(--primary-content-height) * 0.5);
    max-width: calc(var(--primary-content-width) * 0.3);
    /*margin:  0 0 10px 20px;*/
    /*font-size: 18px;*/

}


.block_2 {
    display: block;
    margin: 6px auto;
    max-width: var(--primary-content-width);
}

.comments_container_2 {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    min-height: var(--primary-content-height);
}

.map_img_container {
    margin-left: -17px;
    width: calc(100% + 34px);
}

.map_img {
    /*max-width: 1920px;*/
    max-width: 750px;
}