@import url(https://use.fontawesome.com/releases/v5.0.13/css/all.css);

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.social-icons a {
    display: inline-block;
    width: 36px;
    border-radius: 40%;
    background: #efefef;
    position: relative;
    margin: 2px 7px;
    text-align: center;
    box-shadow: 0 2px 6px #c1c1c1;
    font-size: 28px;
    transition: 0.5s;
}

.social-icons .vk {
    color: #337AB7;
}

.social-icons .whatsapp {
    color:#25d366;
}

.social-icons .telega{
    color: #0088cc;
}

.social-icons a img {
    width: 12px;
    height: 12px;
    margin-top: 4px;
}

.social-icons a i,
.social-icons a img {
    z-index:2;
    position: relative;
    line-height: 28px;
    margin:  0 auto;
}

.social-icons a:hover {
    color: #fff;
}

.social-icons a:after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 40%;
    width: 0;
    height: 0;
    transition: 0.3s;
    top: 0;
    left: 50%;
}

.social-icons .vk:after{
    background: #BFE2FF;
}

.social-icons .insta:after{
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
    radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
    radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
    radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
    linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}

.social-icons .whatsapp:after{
    background: linear-gradient(#25d366,#25d366) 14% 84%/16% 16% no-repeat,
    radial-gradient(#25d366 100%,transparent 0);
}

.social-icons a:hover:after {
    width: 36px;
    height: 36px;
    margin-left: -18px;
    margin-top: -2px;
}

.social-icons .vk:hover:after{
    background: #337AB7;
}

.social-icons .telega:hover:after {
    background:#0088cc;
    radial-gradient(white 100%,transparent 0);
}

.geolocation a{
    text-decoration: none;
}

.geo {
    max-width: 27px;
    max-height: 30px;
    object-fit: cover;
}
