@charset "UTF-8";

.services {
    margin: 10px auto;
    width: min(95%, 360px);

}

.service {
    display: flex;
    margin: auto;
    justify-content: left;
}

.service > a {
    font-size: var(--primary-font-size);
    color: #000000;
    text-align: left;
    margin-bottom: 5px;
}
