@charset "UTF-8";

.form {
    display: flex;
    justify-content: center;
}

.form_container {
}

input {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 2px;
}

#description {
    margin: 5px;
    padding: 2px;
}

.grid_checkbox {
    margin: 10px;
    grid-template-columns: 110px 25px;
}