@charset "UTF-8";

.block_event {
    font-size: var(--primary-font-size);
    margin: 0 auto;
    max-width: 960px;
}

.events {
    margin: 10px auto;
    flex-direction: column;
}

.event {
    display: flex;
    margin: 10px 20px;
    justify-content: left;

}

a {
    font-size: 22px;
    color: #000000;
}

.title_event {
    font-size: calc(var(--primary-font-size) * 1.1);
}

.date {
    font-size: calc(var(--primary-font-size) * 1.1);
}